{% extends "website/header_footer.html" %}
{% load staticfiles %}
{% load filters %}
{% block javascript %}
  <script src="{% static "website/js/jquery_1.11.0.min.js" %}"></script>
  <script src="{% static "website/js/date.js" %}"></script>
  <script src="{% static "website/js/handlebars.js" %}"></script>
  <script src="{% static "website/js/handlebars_helpers.js" %}"></script>
  <script src="{% static "website/js/calendar.js" %}"></script>
{% endblock %}
{% block content %}
{% verbatim %}
<script id="calendar-temp" type="text/x-handlebars-template">

</script>

<script id="day-temp" type="text/x-handlebars-template">
  <td class="calendar-day">
    <div class="date">{{ date }}</div>
    <ul id="events">
      {{#if name}}
      <li class="event-info">{{ name }}</li>
      {{/if}}
    </ul>
  </td>
</script>

<script id="next-month-temp" type="text/x-handlebars-template">
  <td class="calendar-day next-month">
    <div class="date"></div>
    <ul id="events">
    </ul>
  </td>
</script>
{% endverbatim %}


<div id="calendar-wrapper">
  <div id="calendar-title">{{ month }} {{ year }} </div>
  <table id="days-wrapper">
    <tr id="days">
      <td class="day-row">Sunday</td>
      <td class="day-row">Monday</td>
      <td class="day-row">Tuesday</td>
      <td class="day-row">Wednesday</td>
      <td class="day-row">Thursday</td>
      <td class="day-row">Friday</td>
      <td class="day-row">Saturday</td>
    </tr>
  </table>
  <table id="week1-wrapper">
    <tr id="week1">
    </tr>
  </table>

  <table id="week2-wrapper">
    <tr id="week2">
    </tr>
  </table>

  <table id="week3-wrapper">
    <tr id="week3">
    </tr>
  </table>

  <table id="week4-wrapper">
    <tr id="week4">
    </tr>
  </table>

  <table id="week5-wrapper">
    <tr id="week5">
    </tr>
  </table>
</div>
{% endblock %}
    <!-- <table id="week1-wrapper">
      <tr id="week1">
        <td class="calendar-day">
          <div class="date">1</div>
          <ul id="events">
          </ul>
        </td>
        <td class="calendar-day">
          <div class="date">2</div>
          <ul id="events">
          </ul>
        </td>
        <td class="calendar-day">
          <div class="date">3</div>
          <ul id="events">
          </ul>
        </td>
        <td class="calendar-day">
          <div class="date">4</div>
          <ul id="events">
          </ul>
        </td>
        <td class="calendar-day">
          <div class="date">5</div>
          <ul id="events">
          </ul>
        </td>
        <td class="calendar-day">
          <div class="date">6</div>
          <ul id="events">
            <li class="event-info">General Meeting #3</li>
          </ul>
        </td>
        <td class="calendar-day">
          <div class="date">7</div>
          <ul id="events">
          </ul>
        </td>
      </tr>
    </table>
    <table id="week2-wrapper">
      <tr id="week2">
        <td class="calendar-day">
          <div class="date">8</div>
          <ul id="events">
          </ul>
        </td>
        <td class="calendar-day">
          <div class="date">9</div>
          <ul id="events">
          </ul>
        </td>
        <td class="calendar-day">
          <div class="date">10</div>
          <ul id="events">
          </ul>
        </td>
        <td class="calendar-day">
          <div class="date">11</div>
          <ul id="events">
          </ul>
        </td>
        <td class="calendar-day">
          <div class="date">12</div>
          <ul id="events">
          </ul>
        </td>
        <td class="calendar-day">
          <div class="date">13</div>
          <ul id="events">
            <li class="event-info">Internship Panel</li>
          </ul>
        </td>
        <td class="calendar-day">
          <div class="date">14</div>
          <ul id="events">
          </ul>
        </td>
      </tr>
    </table>
    <table id="week3-wrapper">
      <tr id="week3">
        <td class="calendar-day">
          <div class="date">15</div>
          <ul id="events">
            <li class="event-info">Capture the Flag</li>
          </ul>  
        </td>
        <td class="calendar-day">
          <div class="date">16</div>
          <ul id="events">
            <li class="event-info">Google Infosession</li>
          </ul>
        </td>
        <td class="calendar-day">
          <div class="date">17</div>
          <ul id="events">
          </ul>
        </td>
        <td class="calendar-day">
          <div class="date">18</div>
          <ul id="events">
          </ul>
        </td>
        <td class="calendar-day">
          <div class="date">19</div>
          <ul id="events">
            <li class="event-info">Ice Cream Social</li>
          </ul>
        </td>
        <td class="calendar-day">
          <div class="date">20</div>
          <ul id="events">
            <li class="event-info">"420 WOOO"</li>
          </ul>
        </td>
        <td class="calendar-day">
          <div class="date">21</div>
          <ul id="events">
          </ul>
        </td>
      </tr>
    </table>
    <table id="week4-wrapper">
      <tr id="week4">
        <td class="calendar-day">
          <div class="date">22</div>
          <ul id="events">
          </ul>
        </td>
        <td class="calendar-day">
          <div class="date">23</div>
          <ul id="events">
          </ul>
        </td>
        <td class="calendar-day">
          <div class="date">24</div>
          <ul id="events">
          </ul>
        </td>
        <td class="calendar-day">
          <div class="date">25</div>
          <ul id="events">
          </ul>
        </td>
        <td class="calendar-day">
          <div class="date">26</div>
          <ul id="events">
          </ul>
        </td>
        <td class="calendar-day">
          <div class="date">27</div>
          <ul id="events">
          </ul>
        </td>
        <td class="calendar-day">
          <div class="date">28</div>
          <ul id="events">
          </ul>
        </td>
      </tr>
    </table>
    <table id="week5-wrapper">
      <tr id="week5">
        <td class="calendar-day">
          <div class="date">29</div>
          <ul id="events">
            <li class="event-info">Initiation</li>
            <li class="event-info">KickBack Round 2</li>
          </ul>  
        </td>
        <td class="calendar-day">
          <div class="date">30</div>
          <ul id="events">
          </ul>
        </td>
        <td class="calendar-day">
          <div class="date">31</div>
          <ul id="events">
          </ul>
        </td>
        <td class="calendar-day next-month">
          <div class="date">1</div>
          <ul id="events">
          </ul>
        </td>
        <td class="calendar-day next-month">
          <div class="date">2</div>
          <ul id="events">
          </ul>
        </td>
        <td class="calendar-day next-month">
          <div class="date">3</div>
          <ul id="events">
          </ul>
        </td>
        <td class="calendar-day next-month">
          <div class="date">4</div>
          <ul id="events">
          </ul>
        </td>
      </tr>
    </table> -->