{% extends "website/header_footer.html" %}
{% block content %}

<div class="faq-container">
	<div class="questions-list-container">
		<ul class="questions">
			<li><span>Question 1</span></li>
			<li><span>Question 2</span></li>
		</ul>
	</div>
	<div class="answers-list-container">
		<ul class="answers">
			<li>
				<div class="answer">
					<header>How do I get in UPE?</header>
					<p>You just apply</p>
				</div>
			</li>
			<li>
				<div class="answer">
					<header>How do I get in UPE?</header>
					<p>You just apply</p>
				</div>
			</li>
		</ul>
	</div>
</div>
{% endblock %}
