{% extends "website/header_footer.html" %}




{% block content %}

<div class="faq-container">
	<div class="questions-list-container">
		<ul class="questions">
			<li><span>Question 1</span></li>
			<li><span>Question 2</span></li>
		</ul>
	</div>
	<div class="answers-list-container">
		<ul class="answers">
			<li>
				<div class="answer">
					<header>How do I get in UPE?</header>
					<p>You just apply</p>
				</div>
			</li>
			<li>
				<div class="answer">
					<header>How do I get in UPE?</header>
					<p>You just apply</p>
				</div>
			</li>
		</ul>
	</div>
</div>

<!-- <div id="main-wrapper">
  <div id="main-inner-wrapper">
	 <div id="events-OH-wrapper">
      <div id="events-wrapper">
        <div id="questions-title-wrapper">
          <div id="questions-title">Frequently Asked Question</div>
        </div>
        <div id="events-content-wrapper">
          <div class="events-list-description"></div>
          <div id="questions-list-wrapper">
            
           	<ul>
           		<li><p>Q1</p></li>
           		<li><p>Q2</p></li>
           		<li><p>Q3</p></li>
           	</ul> 
          </div>
           <div id="answers-list-wrapper">            
           	<ul>
           		<li><p>Answer1</p></li>
           		<li><p>Answer2<p></li>
           		<li><p>Answer3<p></li>
           	</ul>           
          </div>
        </div>
      </div>
    </div>
  </div>
 </div> -->

	


{% endblock %}

      

