{% load staticfiles %}

<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "https://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="https://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title>Upsilon Pi Epsilon</title>
    <link rel="shortcut icon" type="image/x-icon" href="{% static "website/whale.ico" %}"/>
    <link rel="icon" type="image/x-icon" href="{% static "website/whale.ico" %}"/>
    {% block stylesheets %}
    <link rel="stylesheet" href="{% static "website/css/reset.css" %}" type="text/css" media="screen" />
    <link rel="stylesheet" href="{% static "website/css/full_style.css" %}" type="text/css" media="screen" />
    <link rel="stylesheet" href="{% static "website/css/header_style.css" %}" type="text/css" media="screen" />
    <link rel="stylesheet" href="{% static "upe_calendar/css/calendar_style.css" %}" type="text/css" media="screen" />
    <link rel="stylesheet" href="{% static "website/css/banner_style.css" %}" type="text/css" media="screen" />
    <link rel="stylesheet" href="{% static "website/css/main_style.css" %}" type="text/css" media="screen" />
    <link rel="stylesheet" href="{% static "website/css/footer_style.css" %}" type="text/css" media="screen" />
    <link rel="stylesheet" href="{% static "website/css/slider_custom.css" %}" type="text/css" media="screen" />
    <link href="https://netdna.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css" rel="stylesheet">
    <link rel="stylesheet" href="{% static "website/css/hover.css" %}" type="text/css" media="screen" />
    {% endblock %}
    <link href='https://fonts.googleapis.com/css?family=Arimo:400,700' rel='stylesheet' type='text/css'>
    
    {% block javascript %}
    <script src="{% static "website/js/jquery_1.11.0.min.js" %}"></script>
    {% endblock %}

  </head>
  <body>
    <!-- HEADER -->
    <header id="header-wrapper">
      <div id="header-content">
        <ul class="nav">
          <li id="brand-section">
             <a href="/"><img id="header-icon" src="{% static "website/images/layout/header/upe_whale.png" %}" alt="Workshop"><span id="upe-brand">ΥΠΕ</span></a>
          </li>
          <li class="header-section">
            <a href="/#main-wrapper">About</a>
            <ul id="subnav-1" class="subnav">
                <li><a href="/officers">Officers</a></li>
                <li><a href="/members">Members</a></li>
                <li><a href="/alumni">Alumni</a></li>
            </ul>
          </li>
          <li class="header-section">
            <a href="#">Office Hours</a>
            <ul id="subnav-2" class="subnav">
                <li><a href="/oh">Office Hours</a></li>
            </ul>
          </li>
          <li class="header-section">
            <a href="#">Professional Development</a>
            <ul id="subnav-3" class="subnav">
                <li><a href="/interview">Technical Interviews</a></li>
            </ul>
          </li>
          <li class="header-section">
            <a href="/ir">Industry Relations</a>
            <ul id="subnav-4" class="subnav">
                <li><a href="/ir">FAQ</a></li>
            </ul>            
          </li>
          <li class="header-section pull-right">
            {% if user.is_authenticated %}
            <a href="/logout">Logout</a>
            {% else %}
            <a href="/register">Register</a>
            {% endif %}
          </li>
          <li class="header-section pull-right">
            {% if user.is_authenticated %}
            <a href="/myprofile">{{ user.first_name }} {{ user.last_name }}</a>
            {% else %}
            <a href="/login">Login</a>
            {% endif %}
          </li>          
        </ul>
      </div>
      <!-- MENU -->
      <!-- ENDS MENU -->
    </header>
    <!-- ENDS HEADER -->
  <div id="main-content-wrapper">
    {% block content %}

    {% endblock %}
  </div>

    <!-- FOOTER -->
    <div id="footer-wrapper">
      <div id="footer-content">
        <div id="footer-sponsor">
          <h1>Our Sponsors</h1>
          <div id="sponsor-images">
            <div class="img-col"><img class="sponsor-icon" src="{% static "website/images/layout/footer/sponsors/asuc-logo.png" %}" alt="Sponsor"></div>
            <div class="img-col"><a href="https://www.ocf.berkeley.edu"><img class="sponsor-icon" src="https://www.ocf.berkeley.edu/hosting-logos/ocfbadge_mini8.png" alt="Hosted by the OCF"></a></div>
          </div>
          </div>
        <div id="footer-top-wrapper">
          <div id="footer-top">
            <div class="top-col">
              <div class="top-col-title"><span>About Us</span></div>
              <div class="top-col-info">
                Upsilon Pi Epsilon is the first and only international honor society for the Computing Sciences (CS). The UC Berkeley chapter launched in 1995 and upholds the tradition of academic excellence by honoring the top tier of CS students. We are a student group acting independently of the University of California. We take full responsibility for our organization and this web site. 
              </div>
              </div>
            <div class="top-col">
              <div class="top-col-title"><span>Upcoming Events</span></div>
              <div class="top-col-info">
                {% for event in events %}
                <div class="events-footer">{{ event.name }}<br>{{ event.start_time|date:"m/d/y" }}<br><br>
                </div>
                {% endfor %}
            </div>
            </div>
            <div class="top-col">
              <div class="top-col-title"><span>Contact Us</span></div>
              <div class="top-col-info">
                <div id="name">UPE Office</div>346 Soda Hall<br> Berkeley, CA 94704 <br><br>
                <div id="name">Open Tutoring Hours</div>Weekdays 10am-4pm <br><br>
                <div id="name">Email</div>officers@upe.berkeley.edu
            </div>
            </div>
            <div class="top-col">
              <div class="top-col-title"><span>Follow Us</span></div> 
              <div class="top-col-info">
                <div id="name">Social Media</div>
                  <ul id="footer-icons">
                    <li class="icon-bar">
                      <a href="https://twitter.com/berkeleyUPE" target="blank">
                        <div class="social twitter">
                          <i class="fa fa-twitter"></i>
                        </div>
                      </a>
                    </li>

                    <li class="icon-bar">
                      <a href="https://www.facebook.com/ucbupe" target="blank">
                        <div class="social facebook">
                          <i class="fa fa-facebook"></i>
                        </div>
                      </a>
                    </li>
                  </ul>
              </div>
          </div>
        </div>
        </div>
        <div id="footer-bottom-wrapper">
          <div id="footer-bottom">
            <img id="footer-icon" src="{% static "website/images/layout/header/upe_whale.png" %}" alt="Workshop">
            <div id="copyright">Copyright © <script type="text/javascript">document.write(new Date().getFullYear());</script>  Upsilon Pi Epsilon at the University of California, Berkeley
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- ENDS FOOTER -->
  </body>
</html>
