{% load staticfiles %}

<!DOCTYPE html>
<html xmlns="https://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Upsilon Pi Epsilon</title>
    <link rel="shortcut icon" type="image/x-icon" href="{% static "website/whale.ico" %}"/>
    <link rel="icon" type="image/x-icon" href="{% static "website/whale.ico" %}"/>
    <!-- jQuery -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <!-- Bootstrap JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
    {% block javascript %}
    {% endblock %}
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="{% static "website/css/main.css" %}">
    <link rel="stylesheet" type="text/css" href="{% static "website/css/header_footer.css" %}">
    {% block stylesheets %}
    {% endblock %}
  </head>
  <body>
      <!-- START HEADER -->
  	  <nav class="navbar navbar-custom">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#upe-nav" aria-expanded="false">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="/">UPE</a>
            </div>
            <div class="collapse navbar-collapse" id="upe-nav">
                <ul class="nav navbar-nav">
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
                        About <span class="caret"></span>
                        </a>
                        <ul class="dropdown-menu">
                            <li><a href="/about">Organization</a></li>
                            <li><a href="/members">Members</a></li>
                        </ul>
                    </li>
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
                            Student Services <span class="caret"></span>
                        </a>
                        <ul class="dropdown-menu">
                            <li><a href="/oh">Office Hours</a></li>
                            <li><a href="/interview">Professional Development</a></li>
                            <li><a href="/library">Lending Library</a></li>
                        </ul>
                    </li>
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
                            Industrial Relations <span class="caret"></span>
                        </a>
                        <ul class="dropdown-menu">
                            <li><a href="/">Indrel Services</a></li>
                            <li><a href="/ir">FAQ</a></li>
                        </ul>
                    </li>                    
                </ul>
                <ul class="nav navbar-nav navbar-right">
			          {% if user.is_authenticated %}
			          <li><a href="/myprofile"><span class="glyphicon glyphicon-user"></span>{{ user.first_name }} {{ user.last_name }}</a></li>
			          <li><a href="/logout"><span class="glyphicon glyphicon-log-out"></span> Logout</a></li>
			          {% else %}
			          <li><a href="/register"><span class="glyphicon glyphicon-user"></span> Register</a></li>
			          <li><a href="/login"><span class="glyphicon glyphicon-log-in"></span> Login</a></li>
			          {% endif %}
        		</ul> 
            </div>
        </div>
    </nav>
    <!-- ENDS HEADER -->
    <div id="main-content-wrapper">
      {% block content %}

      {% endblock %}
    </div>

    <!-- FOOTER -->
    <footer class="footer">
        <div class="container footer-container">
            <div class="row">
                <div class="col-md-4">
                    <h4 class="col-heading"><span>Our Sponsors</span></h4>
                        <img src="{% static "website/images/layout/footer/sponsors/asuc-logo.png" %}" alt="Sponsor" class="footer-sponsor">
                        <a href="https://www.ocf.berkeley.edu"><img class="footer-sponsor" src="https://www.ocf.berkeley.edu/hosting-logos/ocfbadge_mini8.png" alt="Hosted by the OCF">
                        </a>
                </div>
                <div class="col-md-4">
                    <h4 class="col-heading"><span>Contact Us</span></h4>
                    <div>
                        <strong>Office</strong><br>
                        346 Soda Hall <br>
                        Berkeley, CA 94704 <br><br>
                        <strong>Office Hours</strong><br>
                        Weekdays 10am-5pm <br><br>
                        <strong>E-mail</strong><br>
                        officers@upe.berkeley.edu <br>
                    </div>                        
                </div>
                <div class="col-md-4">
                    <h4 class="col-heading"><span>Follow Us</span></h4>
                        <a href="https://www.facebook.com/ucbupe">
                            <img src="{% static "website/images/icons/fb-white.png" %}" class="footer-icon" alt="UPE Facebook">
                        </a>
                        <a href="https://www.instagram.com/upe_berkeley/">
                            <img src="{% static "website/images/icons/ig-white.png" %}" class="footer-icon" alt="UPE Instagram">
                        </a>
                </div>
            </div>
        </div>
        <div class="container-fluid footer-copyright-container">
              <span class="footer-copyright-text">Copyright &#169; <script type="text/javascript">document.write(new Date().getFullYear());</script> Upsilon Pi Epsilon at the University of California, Berkeley</span>
        </div>
    </footer>
    <!-- ENDS FOOTER -->
  </body>
</html>
