{% load staticfiles %}

<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title>Upsilon Pi Epsilon</title>
    <link rel="icon" type="image/png" href="{% static "website/img/icons/favicon_whale.png" %}"/>
    {% block stylesheets %}
    <link rel="stylesheet" href="{% static "website/css/reset.css" %}" type="text/css" media="screen" />
    <link rel="stylesheet" href="{% static "website/css/full_style.css" %}" type="text/css" media="screen" />
    <link rel="stylesheet" href="{% static "website/css/header_style.css" %}" type="text/css" media="screen" />
    <link rel="stylesheet" href="{% static "upe_calendar/css/calendar_style.css" %}" type="text/css" media="screen" />
    <link rel="stylesheet" href="{% static "website/css/banner_style.css" %}" type="text/css" media="screen" />
    <link rel="stylesheet" href="{% static "website/css/main_style.css" %}" type="text/css" media="screen" />
    <link rel="stylesheet" href="{% static "website/css/footer_style.css" %}" type="text/css" media="screen" />
    <link rel="stylesheet" href="{% static "website/css/slider_custom.css" %}" type="text/css" media="screen" />
    <link href="http://netdna.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css" rel="stylesheet">
    <link rel="stylesheet" href="{% static "website/css/hover.css" %}" type="text/css" media="screen" />
    {% endblock %}
    <link href='http://fonts.googleapis.com/css?family=Arimo:400,700' rel='stylesheet' type='text/css'>
    
    {% block javascript %}
    <script src="{% static "website/js/jquery_1.11.0.min.js" %}"></script>
    {% endblock %}

  </head>
  <body>
    <!-- HEADER -->
    <header id="header-wrapper">
      <div id="header-content">
        <ul class="nav">
          <li id="brand-section">
             <a href="/"><img id="header-icon" src="{% static "website/images/layout/header/upe_whale.png" %}" alt="Workshop"><span id="upe-brand">UPE</span></a>
          </li>
          <li class="header-section">
            <a href="/#main-wrapper">About</a>
            <ul id="subnav-1" class="subnav">
                <!-- <li><a href="#">General Information</a></li> -->
                <li><a href="/officers">Officers</a></li>
                <li><a href="/members">Members</a></li>
                <li><a href="/alumni">Alumni</a></li>
            </ul>
          </li>
          <li class="header-section">
            <a href="#">Student Services</a>
            <ul id="subnav-2" class="subnav">
                <li><a href="/officehours">Office Hours</a></li>
                <li><a href="/interviews">Mock Interviews</a></li>
            </ul>
          </li>
          <!-- <li class="header-section">
            <a href="#">Industrial Relations</a>
            <ul id="subnav-3" class="subnav">
                <li><a href="#">Main</a></li>
                <li><a href="#">Infosessions</a></li>
                <li><a href="#">Resume Book</a></li>
            </ul>
          </li> -->
          <li class="header-section pull-right">
            {% if user.is_authenticated %}
            <a href="/logout">Logout</a>
            {% else %}
            <a href="/register">Register</a>
            {% endif %}
          </li>
          <li class="header-section pull-right">
            {% if user.is_authenticated %}
            <a href="/myprofile">{{ user.first_name }} {{ user.last_name }}</a>
            {% else %}
            <a href="/login">Login</a>
            {% endif %}
          </li>
          <li class="header-section">
            <a href="/calendar">Calendar</a>
          </li>
        </ul>
      </div>
      <!-- MENU -->
      <!-- ENDS MENU -->
    </header>
    <!-- ENDS HEADER -->
  <div id="main-content-wrapper">
    {% block content %}

    {% endblock %}
  </div>

    <!-- FOOTER -->
    <div id="footer-wrapper">
      <div id="footer-content">
        <div id="footer-sponsor">
          <h1>Our Sponsors</h1>
          <div id="sponsor-images">
            <div class="img-col"><img class="sponsor-icon" src="{% static "website/images/layout/footer/sponsors/asuc-logo.png" %}" alt="Sponsor"></div>
          </div>
        </div>
        <div id="footer-top-wrapper">
          <div id="footer-top">
            <div class="top-col">
              <div class="top-col-title"><span>About Us</span></div>
              <div class="top-col-info">
                Upsilon Pi Epsilon is the first and only international honor society for the Computing Sciences (CS). The UC Berkeley chapter launched in 1995 and upholds the tradition of academic excellence by honoring the top tier of CS students. 
              </div>
              </div>
            <div class="top-col">
              <div class="top-col-title"><span>Upcoming Events</span></div>
              <div class="top-col-info">
                {% for event in events %}
                <img class="event-logo" src="/media/{{ event.thumbnail }}">
                <div class="events-footer">{{ event.name }}<br>{{ event.start_time|date:"m/d/y" }}<br><br>
                </div>
                {% endfor %}
            </div>
            </div>
            <div class="top-col">
              <div class="top-col-title"><span>Contact Us</span></div>
              <div class="top-col-info">
                <div id="name">UPE Office</div>346 Soda Hall<br> Berkeley, CA 94704 <br><br>
                <div id="name">Open Tutoring Hours</div>Weekdays 11am-5pm <br><br>
                <div id="name">Email</div>officers@upe.berkeley.edu
            </div>
            </div>
            <div class="top-col">
              <div class="top-col-title"><span>Follow Us</span></div> 
              <div class="top-col-info">
                <div id="name">Social Media</div>
                  <ul id="footer-icons">
                    <!-- <li class="icon-bar">
                      <a target="blank">
                        <div class="social rss">
                          <i class="fa fa-rss"></i>
                        </div>
                      </a>
                    </li> -->

                    <li class="icon-bar">
                      <a href="https://twitter.com/berkeleyUPE" target="blank">
                        <div class="social twitter">
                          <i class="fa fa-twitter"></i>
                        </div>
                      </a>
                    </li>

                    <li class="icon-bar">
                      <a href="https://www.facebook.com/ucbupe" target="blank">
                        <div class="social facebook">
                          <i class="fa fa-facebook"></i>
                        </div>
                      </a>
                    </li>
                  </ul>
                <!-- <div id="name">Subscribe to our newsletter</div>
                <div id='search-box'>
                  <form action='/search' id='search-form' method='get' target='_top'>
                  <input id='search-text' name='q' placeholder='Your e-mail...' type='text'/>
                  <button id='search-button' type='submit'>Sign Up</button>
                  </form>
                </div> -->
              </div>
              </div>
          </div>
        </div>
        <div id="footer-bottom-wrapper">
          <div id="footer-bottom">
            <img id="footer-icon" src="{% static "website/images/layout/header/upe_whale.png" %}" alt="Workshop">
            <div id="mini-menu">
              <!-- <div class="mini-menu-item"><a href="links">FAQ</a></div> 
              <div class="mini-menu-item">&middot</div>
              <div class="mini-menu-item"><a href="links">Privacy</a></div> 
              <div class="mini-menu-item">&middot</div>
              <div class="mini-menu-item"><a href="links">Terms of Service</a></div>  -->
            </div>
            <div id="copyright">
               Copyright © 2014 Upsilon Pi Epsilon at the University of California, Berkeley
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- ENDS FOOTER -->
  </body>
</html>
