{% extends "website/header_footer.html" %}
{% load staticfiles %}
{% block javascript %}
  <script src="{% static "website/js/jquery_1.11.0.min.js" %}"></script>
  <script src="{% static "website/js/thumbnail_script.js" %}"></script>
  <script src="{% static "website/js/modernizr_custom_79639.js" %}"></script>
  <script src="{% static "website/js/ba_cond.min.js" %}"></script>
  <script src="{% static "website/js/slitslider.js" %}"></script>
  <script src="{% static "website/js/slitslider_custom.js" %}"></script>
  <script src="{% static "website/js/landingpage_banner_custom.js" %}"></script>
  <script src="{% static "website/js/landingpage_main_custom.js" %}"></script>
  <script src="{% static "website/js/isotope.min.js" %}"></script>
  <script src="{% static "website/js/office_hours.js" %}"></script>
{% endblock %}
{% block content %}
<!-- BANNER -->
<div id="banner-wrapper">
  <div id="slider" class="sl-slider-wrapper">
    <div class="sl-slider">
      <div class="sl-slide slide1" data-orientation="horizontal" data-slice1-rotation="-25" data-slice2-rotation="-25" data-slice1-scale="2" data-slice2-scale="2">
        <div class="sl-slide-inner">
          <div class="bg-img bg-img-1"></div>
          <h2 class="fadeInMoveDown">Upsilon Pi Epsilon, Nu Chapter</h2>
          <blockquote class="fadeInMoveUp"><p>The premiere Computer Science Honor Society at Berkeley.</cite></blockquote>
        </div>
      </div>

      <div class="sl-slide slide2" data-orientation="vertical" data-slice1-rotation="10" data-slice2-rotation="-15" data-slice1-scale="1.5" data-slice2-scale="1.5">
        <div class="sl-slide-inner">
          <div class="bg-img bg-img-2"></div>
          <h2 class="fadeInMoveDown">We help you get stuff done.</h2>
          <blockquote class="fadeInMoveRight">
            <span>Professional network from the top tech. companies, Interview Training, Infosessions, Tutoring, and more!</span>
          </blockquote>
        </div>
      </div>

      <div class="sl-slide slide3" data-orientation="horizontal" data-slice1-rotation="3" data-slice2-rotation="3" data-slice1-scale="2" data-slice2-scale="1">
        <div class="sl-slide-inner">
          <div class="bg-img bg-img-3"></div>
          <h2 class="fadeInMoveDown">We extend membership to all prospective majors!</h2>
          <blockquote class="fadeInMoveLeft">
            <span>The deadline for Fall 2014 has passed. Apply next semester!</span>
          </blockquote>
        </div>
      </div>
    </div><!-- /sl-slider -->

    <nav id="nav-dots" class="nav-dots">
      <span class="nav-dot-current"></span>
      <span></span>
      <span></span>
    </nav>

  </div><!-- /slider-wrapper -->
</div>
<!-- ENDS BANNER -->

<!-- MAIN -->
<div id="main-wrapper">
  <div id="main-inner-wrapper">
    <div id="content-wrapper">
      <div id="content-header-wrapper">
        <h1>Upholding academic excellence</h1>
        <p>Upsilon Pi Epsilon is the first and only international honor society for the Computing Sciences. The UC Berkeley chapter, launched in 1995, honors the top tier of Computer Science students on campus.</p>
      </div>
      <div id="content-studentservices-wrapper">
        <div class="circle circle1 pull-left">
          <img src="{% static "website/images/circle1.jpg" %}">
        </div>
        <div id="content-studentservices-text">
          <h1>We help others</h1>
          <p>UPE keeps all students from Berkeley's technical disciplines well-informed of our student activities through intensive marketing over the web and e-mail, print posters, and in-class announcements to the student body. UPE engages students with our many activities, making us renowned for our service to the university community. We not only reach out to computer science students and faculty, but also the EECS, math, and other engineering majors.</p>
        </div>
      </div>
      <div id="content-members-wrapper">
        <div class="circle circle2">
          <img class="pull-right" src="{% static "website/images/circle2.jpg" %}">
        </div>
        <div id="content-members-text">
          <h1>Connections and Opportunities</h1>
          <p>We work closely with major corporations, organizing events ranging from brief one-hour info-sessions about companies and recruiting opportunities to full-scale day-long sessions to showcase their research and product development. Our resumé books make it easier for companies to target the top Berkeley CS students.</p>
        </div>
      </div>
    </div>
    <div class="oh-wrapper">
      <header class="oh-title">Office Hours</header>
      <div class="filters">
        <select class="filter days">
          <option value="">-- Day --</option>
          <option value="monday">Monday</option>
          <option value="tuesday">Tuesday</option>
          <option value="wednesday">Wednesday</option>
          <option value="thursday">Thursday</option>
          <option value="friday">Friday</option>
        </select>
        <select class="filter classes">
          <option value="">-- Class --</option>
          <option value="cs61a">CS 61A</option>
          <option value="cs61b">CS 61B</option>
          <option value="cs160">CS 160</option>
          <option value="cs169">CS 169</option>
          <option value="cs184">CS 184</option>
        </select>
        <!-- <select class="filter skill">
          <option>Django</option>
        </select> -->
      </div>
      <ul class="officers-oh">
        <li class="tile thursday">
          <div class="officer-oh">
            <img class="image" src="http://upe.berkeley.edu/media/profile_images/spock.jpg">
            <div class="info">
              <span class="name">Jason Zhang</span>
              <span class="date">Thur 2-4</span>
              <ul class="classes-skills">
              </ul>
            </div>
          </div>
        </li>
        <li class="tile monday tuesday cs61a">
            <div class="officer-oh">
              <img class="image" src="http://upe.berkeley.edu/media/profile_images/dickson.jpg">
              <div class="info">
                <span class="name">Dickson Tsai</span>
                <span class="date">Mon 12-1, Tue 1-3</span>
                <ul class="classes-skills">
                  <li>CS 61A</li>
                </ul>
              </div>
            </div>
          </li>
          <li class="tile wednesday">
            <div class="officer-oh">
              <img class="image" src="http://upe.berkeley.edu/media/profile_images/andy.jpg">
              <div class="info">
                <span class="name">Andy Zheng</span>
                <span class="date">Wed 2-4</span>
                <ul class="classes-skills">
                </ul>
              </div>
            </div>
          </li>
          <li class="tile tuesday">
            <div class="officer-oh">
              <img class="image" src="http://upe.berkeley.edu/media/profile_images/hugh.jpg">
              <div class="info">
                <span class="name">Hugh Chen</span>
                <span class="date">Tue 1-3</span>
                <ul class="classes-skills">
                </ul>
              </div>
            </div>
          </li>
          <li class="tile wednesday">
            <div class="officer-oh">
              <img class="image" src="http://upe.berkeley.edu/media/profile_images/jennifer.jpg">
              <div class="info">
                <span class="name">Jennifer Dai</span>
                <span class="date">Wed 1-2</span>
                <ul class="classes-skills">
                </ul>
              </div>
            </div>
          </li>
          <li class="tile monday">
            <div class="officer-oh">
              <img class="image" src="http://upe.berkeley.edu/media/profile_images/jackie.jpg">
              <div class="info">
                <span class="name">Jacqueline Xu</span>
                <span class="date">Mon 1-3</span>
                <ul class="classes-skills">
                </ul>
              </div>
            </div>
          </li>
          <li class="tile wednesday friday">
            <div class="officer-oh">
              <img class="image" src="http://upe.berkeley.edu/media/profile_images/DSC_2246.JPG">
              <div class="info">
                <span class="name">Ralph Arroyo</span>
                <span class="date">Wed 4-5, Fri 3-4</span>
                <ul class="classes-skills">
                </ul>
              </div>
            </div>
          </li>
          <li class="tile wednesday friday cs160 cs169">
            <div class="officer-oh">
              <img class="image" src="http://upe.berkeley.edu/media/profile_images/DSC_2244.JPG">
              <div class="info">
                <span class="name">Mari Batilando</span>
                <span class="date">Wed 12-1, Fri 1-2</span>
                <ul class="classes-skills">
                  <li>CS 169</li>
                  <li>CS 160</li>
                </ul>
              </div>
            </div>
          </li>
          <li class="tile friday">
            <div class="officer-oh">
              <img class="image" src="http://upe.berkeley.edu/media/profile_images/DSC_2225.JPG">
              <div class="info">
                <span class="name">Jeffrey Zhang</span>
                <span class="date">Friday 2-3</span>
                <ul class="classes-skills">
                </ul>
              </div>
            </div>
          </li>
          <li class="tile monday cs161">
            <div class="officer-oh">
              <img class="image" src="http://upe.berkeley.edu/media/profile_images/tiffany.jpg">
              <div class="info">
                <span class="name">Tiffany Ko</span>
                <span class="date">Mon 11-1</span>
                <ul class="classes-skills">
                </ul>
              </div>
            </div>
          </li>
          <li class="tile monday cs161">
            <div class="officer-oh">
              <img class="image" src="http://upe.berkeley.edu/media/profile_images/DSC_2237.JPG">
              <div class="info">
                <span class="name">Jason Jia</span>
                <span class="date">Mon 3-5</span>
                <ul class="classes-skills">
                  <li>CS 162</li>
                </ul>
              </div>
            </div>
          </li>
          <li class="tile tuesday cs61a cs61b">
            <div class="officer-oh">
              <img class="image" src="http://upe.berkeley.edu/media/profile_images/brian.jpg">
              <div class="info">
                <span class="name">Brian Su</span>
                <span class="date">Tue 12-1, 4-5</span>
                <ul class="classes-skills">
                  <li>CS 61A</li>
                  <li>CS 61B</li>
                </ul>
              </div>
            </div>
          </li>
          <li class="tile thursday wednesday cs184">
            <div class="officer-oh">
              <img class="image" src="http://upe.berkeley.edu/media/profile_images/photo.jpg">
              <div class="info">
                <span class="name">Darren Tsung</span>
                <span class="date">Wed 11-12, Thur 12-2</span>
                <ul class="classes-skills">
                  <li>CS 184</li>
                </ul>
              </div>
            </div>
          </li>
      </ul>
    </div>
    <div id="events-OH-wrapper">
      <div id="events-wrapper">
        <div id="events-title-wrapper">
          <div id="events-title">Upcoming Events</div>
        </div>
        <div id="events-content-wrapper">
          <div class="events-list-description">
          </div>
          <div id="events-list-wrapper">
            {% for event in events %}
            <div class="events-list-item float">
                <img src="/media/{{ event.thumbnail }}">
                <h1>{{ event.name }}</h1>
                <p><span>Date:</span> {{ event.start_time.date }}</br><span>Time:</span> {{ event.start_time|date:"g:i A" }} - {{ event.end_time|date:"g:i A" }}</br><span>Location:</span> {{ event.location }}</p>
                <div class="description">
                  <div class="events-list-description-image" style="background-image: url(/media/{{ event.banner }});"></div>
                  <div class="description-text">
                    <h1>{{ event.name }}</h1>
                    <p>{% autoescape off %}
                      {{ event.description }}
                    {% endautoescape %}</p>
                  </div>
                </div>
            </div>
            {% endfor %}
          </div>
        </div>
      </div>
    </div>
    <div id="business-wrapper">
      <div class="partners-wrapper">
        <div class="title-wrapper">
          <div class="title">
            Who we've <span>worked</span> with
          </div>
        </div>
        <div class="companies-background">
          <div class="companies-wrapper">
            <img src="{% static "website/images/content/partner-logos/datastax.png" %}" width="150px">
            <img src="{% static "website/images/content/partner-logos/ea.png" %}" width="75px">
            <img src="{% static "website/images/content/partner-logos/google.png" %}" width="150px">
            <img src="{% static "website/images/content/partner-logos/chevron.png" %}" width="45px">
            <img src="{% static "website/images/content/partner-logos/factset.png" %}" width="120px" style="margin-top: 30px;">
            <img src="{% static "website/images/content/partner-logos/netapp.png" %}" width="50px">
            <img src="{% static "website/images/content/partner-logos/salesforce.png" %}" width="115px">
            <img src="{% static "website/images/content/partner-logos/rockmelt.png" %}" width="60px">
            <img src="{% static "website/images/content/partner-logos/sequoiacapital.png" %}" width="150px">
            <img src="{% static "website/images/content/partner-logos/arista.png" %}" width="115px">
            <img src="{% static "website/images/content/partner-logos/zynga.png" %}" width="115px">
            <img src="{% static "website/images/content/partner-logos/tableau.png" %}" width="115px">
            <img src="{% static "website/images/content/partner-logos/groupon.png" %}" width="115px">
            <img src="{% static "website/images/content/partner-logos/linkedin.png" %}" width="115px">
            <img src="{% static "website/images/content/partner-logos/more.png" %}" width="60px" style="margin-top: 10px;">
          </div>
        </div>
      </div>
      <!-- <div id="indrel-wrapper">
        <div class="indrel-column">
          <div class="icon-box">
            <h2>Résumé Book</h2>
            <img src="">
            <p>Companies can purchase a UPE Résumé Book from our organization, a portfolio of résumés with nearly 30 résumés of Berkeley's highest-achieving computer science students. You can use our résumés as a starting point for your company's recruiting process.</p>
            <p><a href="#">Purchase a UPE Résumé Book</a></p>
          </div>
        </div>
        <div class="indrel-column">
          <div class="icon-box">
            <h2>Information Sessions</h2>
            <img src="">
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
            <p><a href="#">Host an info-session with us</a></p>
          </div>
        </div>
        <div class="indrel-column">
          <div class="icon-box">
            <h2>Workshops</h2>
            <img src="">
            <p>Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum. Ut enim ad minim veniam, quis nostrud.</p>
            <p><a href="#">Host a workshop with us</a></p>
          </div>
        </div>
      </div> -->
    </div>
  </div>
</div>
<!-- ENDS MAIN -->

{% endblock %}