{% extends "website/header_footer.html" %}
{% load staticfiles %}
{% block javascript %}
  <link rel="shortcut icon" href="{% static "website/favicon.ico" %}" type="image/x-icon">
  <link rel=icon href="{% static "website/favicon.ico" %}" type="image/x-icon">

  <script src="{% static "website/js/jquery_1.11.0.min.js" %}"></script>
  <script src="{% static "website/js/modernizr_custom_79639.js" %}"></script>
  <script src="{% static "website/js/ba_cond.min.js" %}"></script>
  <script src="{% static "website/js/slitslider.js" %}"></script>
  <script src="{% static "website/js/slitslider_custom.js" %}"></script>
  <script src="{% static "website/js/landingpage_main_custom.js" %}"></script>
{% endblock %}
{% block content %}
<!-- BANNER -->
<div id="banner-wrapper">
  <div id="slider" class="sl-slider-wrapper">
    <div class="sl-slider">
      <div class="sl-slide slide1" data-orientation="horizontal" data-slice1-rotation="-25" data-slice2-rotation="-25" data-slice1-scale="2" data-slice2-scale="2">
        <div class="sl-slide-inner">
          <div class="slide-tint"></div>
          <div class="bg-img bg-img-1"></div>
          <h2 class="fadeInMoveDown slide-text main-banner-text">Upsilon Pi Epsilon, Nu Chapter</h2>
          <blockquote class="fadeInMoveUp slide-text main-banner-text"><p>The premiere Computer Science Honor Society at Berkeley.</cite></blockquote>
        </div>
      </div>

      <div class="sl-slide slide2" data-orientation="vertical" data-slice1-rotation="10" data-slice2-rotation="-15" data-slice1-scale="1.5" data-slice2-scale="1.5">
        <div class="sl-slide-inner">
          <div class="slide-tint"></div>
          <div class="bg-img bg-img-2"></div>
          <h2 class="fadeInMoveDown slide-text">We help you get stuff done.</h2>
          <blockquote class="fadeInMoveRight slide-text">
            <span>Professional network from the top tech. companies, Interview Training, Infosessions, Tutoring, and more!</span>
          </blockquote>
        </div>
      </div>

      <div class="sl-slide slide3" data-orientation="horizontal" data-slice1-rotation="3" data-slice2-rotation="3" data-slice1-scale="2" data-slice2-scale="1">
        <div class="sl-slide-inner">
          <div class="slide-tint"></div>
          <div class="bg-img bg-img-3"></div>
          <h2 class="fadeInMoveDown slide-text">We extend membership to the top third of declared CS majors.</h2>
          <blockquote class="fadeInMoveLeft slide-text">
	Each semester, candidates from the top third of declared CS majors are invited to join UPE.
          </blockquote>
        </div>
      </div>
    </div><!-- /sl-slider -->

    <nav id="nav-dots" class="nav-dots">
      <span class="nav-dot-current"></span>
      <span></span>
      <span></span>
    </nav>

  </div><!-- /slider-wrapper -->
</div>
<!-- ENDS BANNER -->

<!-- MAIN -->
<div id="main-wrapper">
  <div id="main-inner-wrapper">
    <div id="content-wrapper">
      <div id="content-header-wrapper">
        <h1>Upholding academic excellence</h1>
        <p>Upsilon Pi Epsilon is the first and only international honor society for the Computing Sciences. The UC Berkeley chapter, launched in 1995, honors the top tier of Computer Science students on campus.</p>
      </div>
      <div id="content-studentservices-wrapper">
        <div class="circle circle1 pull-left">
          <img src="{% static "website/images/circle1.jpg" %}">
        </div>
        <div id="content-studentservices-text">
          <h1>We help others</h1>
          <p>UPE keeps all students from Berkeley's technical disciplines well-informed of our student activities through intensive marketing over the web and e-mail, print posters, and in-class announcements to the student body. UPE engages students with our many activities, making us renowned for our service to the university community. We not only reach out to computer science students and faculty, but also the EECS, math, and other engineering majors.</p>
        </div>
      </div>
      <div id="content-members-wrapper">
        <div class="circle circle2">
          <img class="pull-right" src="{% static "website/images/circle2.jpg" %}">
        </div>
        <div id="content-members-text">
          <h1>Connections and Opportunities</h1>
          <p>We work closely with major corporations, organizing events ranging from brief one-hour info-sessions about companies and recruiting opportunities to full-scale day-long sessions to showcase their research and product development. Our resumé books make it easier for companies to target the top Berkeley CS students.</p>
        </div>
      </div>
    </div>
    <div id="events-OH-wrapper">
      <div id="events-wrapper">
        <div id="events-title-wrapper">
          <div id="events-title">Upcoming Events</div>
        </div>
        <div id="events-content-wrapper">
          <div class="events-list-description">
          </div>
          <div id="events-list-wrapper">
            {% for event in events %}
            <div class="events-list-item float">
                <h1>{{ event.name }}</h1>
                <p><span>Date:</span> {{ event.start_time|date:"m/d/y" }}</br><span>Time:</span> {{ event.start_time|date:"g:i A" }} </br><span>Location:</span> {{ event.location }}</p>
                <div class="description">
                  <div class="events-list-description-image" style="background-image: url({{ event.banner }});"></div>
                  <div class="description-text">
                    <h1>{{ event.name }}</h1>
                    <p>{% autoescape off %}
                      {{ event.description }}
                    {% endautoescape %}</p>
                  </div>
                </div>
            </div>
            {% endfor %}
          </div>
        </div>
      </div>
    </div>
    <div id="twitter-feed-wrapper">
        <div id="twitter-wrapper">
            <div id="twitter-content-wrapper">
                <div id="twitter-title">Twitter</div>
                <a class="twitter-timeline" 
                    data-dnt="true" 
                    data-chrome="noborders noheader noscrollbar nofooter"
                    data-width="520"
                    data-link-color="#43ACC5"
                    data-tweet-limit="5"
                    href="https://twitter.com/berkeleyUPE" 
                    data-widget-id="651666096114659328">@berkeleyUPE</a>
<script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+"://platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>
            </div>
        </div>
    </div>
    <div id="business-wrapper">
      <div class="partners-wrapper">
        <div class="title-wrapper">
          <div class="title">
            Whom we've <span>worked</span> with
          </div>
        </div>
        <div class="companies-background">
          <div class="companies-wrapper">
            <img src="{% static "website/images/content/partner-logos/datastax.png" %}" width="150px">
            <img src="{% static "website/images/content/partner-logos/ea.png" %}" width="75px">
            <img src="{% static "website/images/content/partner-logos/google.png" %}" width="150px">
            <img src="{% static "website/images/content/partner-logos/chevron.png" %}" width="45px">
            <img src="{% static "website/images/content/partner-logos/factset.png" %}" width="120px" style="margin-top: 30px;">
            <img src="{% static "website/images/content/partner-logos/netapp.png" %}" width="50px">
            <img src="{% static "website/images/content/partner-logos/salesforce.png" %}" width="115px">
            <img src="{% static "website/images/content/partner-logos/rockmelt.png" %}" width="60px">
            <img src="{% static "website/images/content/partner-logos/sequoiacapital.png" %}" width="150px">
            <img src="{% static "website/images/content/partner-logos/arista.png" %}" width="115px">
            <img src="{% static "website/images/content/partner-logos/zynga.png" %}" width="115px">
            <img src="{% static "website/images/content/partner-logos/tableau.png" %}" width="115px">
            <img src="{% static "website/images/content/partner-logos/groupon.png" %}" width="115px">
            <img src="{% static "website/images/content/partner-logos/linkedin.png" %}" width="115px">
            <img src="{% static "website/images/content/partner-logos/more.png" %}" width="60px" style="margin-top: 10px;">
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- ENDS MAIN -->

{% endblock %}
