{% extends "website/header_footer.html" %}
{% load staticfiles %}
{% block javascript %}
  <link rel="shortcut icon" href="{% static "website/favicon.ico" %}" type="image/x-icon">
  <link rel=icon href="{% static "website/favicon.ico" %}" type="image/x-icon">

  <script src="{% static "website/js/jquery_1.11.0.min.js" %}"></script>
  <script src="{% static "website/js/modernizr_custom_79639.js" %}"></script>
  <script src="{% static "website/js/ba_cond.min.js" %}"></script>
  <script src="{% static "website/js/landingpage_banner_custom.js" %}"></script>
  <script src="{% static "website/js/landingpage_main_custom.js" %}"></script>
  <script src="{% static "website/js/isotope.min.js" %}"></script>
{% endblock %}
{% block content %}

<!-- MAIN -->
<div id="main-wrapper">
  <div id="main-inner-wrapper">
    <div class="oh-wrapper">
      <table style="font-size: 15px; line-height: 3;" width="80%" align="center">
		<div id="interview-title-row">
			<tr>
				<th>Time</th>
				<th>Sunday</th>
				<th>Monday</th>
				<th>Tuesday</th>
				<th>Wednesday</th>
				<th>Thursday</th>
				<th>Friday</th>
				<th>Saturday</th>
			</tr>			
		</div>
		<div class="interview-slot-row">
			<tr>
				<th>9:00 - 10:00</th>
					<td><a href="/bookinterview/m9/">Available</a></td>
					<td>Available</td>
					<td>Available</td>
					<td>Available</td>
					<td>Available</td>
					<td>Available</td>
					<td>Available</td>
			</tr>			
		</div>
		<div class="interview-slot-row">
			<tr>
				<th>10:00 - 11:00</th>
					<td>Available</td>
					<td>Available</td>
					<td>Available</td>
					<td>Available</td>
					<td>Available</td>
					<td>Available</td>
					<td>Available</td>
			</tr>			
		</div>
		<div class="interview-slot-row">
			<tr>
				<th>11:00 - 12:00</th>
					<td>Available</td>
					<td>Available</td>
					<td>Available</td>
					<td>Available</td>
					<td>Available</td>
					<td>Available</td>
					<td>Available</td>
			</tr>			
		</div>
		<div class="interview-slot-row">
			<tr>
				<th>12:00 - 1:00</th>
					<td>Available</td>
					<td>Available</td>
					<td>Available</td>
					<td>Available</td>
					<td>Available</td>
					<td>Available</td>
					<td>Available</td>
			</tr>			
		</div>
		<div class="interview-slot-row">
			<tr>
				<th>1:00 - 2:00</th>
					<td>Available</td>
					<td>Available</td>
					<td>Available</td>
					<td>Available</td>
					<td>Available</td>
					<td>Available</td>
					<td>Available</td>
			</tr>			
		</div>
		<div class="interview-slot-row">
			<tr>
				<th>2:00 - 3:00</th>
					<td>Available</td>
					<td>Available</td>
					<td>Available</td>
					<td>Available</td>
					<td>Available</td>
					<td>Available</td>
					<td>Available</td>
			</tr>			
		</div>
		<div class="interview-slot-row">
			<tr>
				<th>3:00 - 4:00</th>
					<td>Available</td>
					<td>Available</td>
					<td>Available</td>
					<td>Available</td>
					<td>Available</td>
					<td>Available</td>
					<td>Available</td>
			</tr>			
		</div>
		<div class="interview-slot-row">
			<tr>
				<th>4:00 - 5:00</th>
					<td>Available</td>
					<td>Available</td>
					<td>Available</td>
					<td>Available</td>
					<td>Available</td>
					<td>Available</td>
					<td>Available</td>
			</tr>			
		</div>


		
	</table>
    </div>
  </div>
</div>
<!-- ENDS MAIN -->

{% endblock %}
