{% extends "website/header_footer.html" %}
{% load staticfiles %}
{% block javascript %}
  <link rel="shortcut icon" href="{% static "website/favicon.ico" %}" type="image/x-icon">
  <link rel=icon href="{% static "website/favicon.ico" %}" type="image/x-icon">
  <link href="{% static "website/css/bootstrap.min.css" %}" rel="stylesheet">
  <link href="{% static "website/css/header_style.css" %}" rel="stylesheet">
  <link href="{% static "website/css/interview.css" %}" rel="stylesheet">

  	<script src="{% static "website/js/jquery_1.11.0.min.js" %}"></script>
	<script src="{% static "website/js/modernizr_custom_79639.js" %}"></script>
  	<script src="{% static "website/js/ba_cond.min.js" %}"></script>
  	<!-- <script src="{% static "website/js/landingpage_banner_custom.js" %}"></script> -->
  	<script src="{% static "website/js/landingpage_main_custom.js" %}"></script>
  	<script src="{% static "website/js/isotope.min.js" %}"></script>
  	<script src="{% static "website/js/office_hours.json" %}"></script>
  	<script src="{% static "website/js/office_hours.js" %}"></script>
 	<script src="{% static "website/js/bootstrap.min.js" %}"></script>
{% endblock %}
{% block content %}
<div class="container-fluid">
	<div class="row">
		<div class="col-md-2" id="questions-sidebar">
			<table class="table table-hover" id="questions-table">
				<!--<tr><th class="question-cat" id="Arrays"><strong>Arrays</strong><span class="caret"></span></th></tr>
					<tr><td class="question" data-target="Arrays">Array 1</td></tr>
					<tr><td class="question" data-target="Arrays">Array 2</td></tr>
					<tr><td class="question" data-target="Arrays">Array 3</td></tr>
				<tr><th class="question-cat" id="Linked-Lists"><strong>Linked Lists</strong><span class="caret"></span></th></tr>
					<tr><td class="question" data-target="Linked-Lists">LL 1</td></tr>
					<tr><td class="question" data-target="Linked-Lists">LL 2</td></tr>
					<tr><td class="question" data-target="Linked-Lists">LL 3</td></tr>
				<tr><th class="question-cat" id="Trees"><strong>Trees</strong><span class="caret"></span></th></tr>
				<tr><th class="question-cat" id="Bitwise Ops"><strong>Bitwise Ops</strong><span class="caret"></span></th></tr>-->
				{% for q in questions %}
                <tr><td class="question" id="{{q.id}}">{{q.title}}</td></tr>
                {% endfor %}
			</table>
		</div>
		<div class="col-md-9" id="targ-question" style="position:relative;">
			<iframe id="question_frame" frameborder="0" style="width:100%;height:100%;"></iframe>
		</div>
	</div>
</div>
<script>
    var globalTarget;
	$(".question").click(function(event) {
	    globalTarget = event.target;
	    var id = event.target.id;
	    var container = $("#targ-question");
	    container.empty();
	    container.append("<iframe src='/interview/question/" + id + "' frameborder='0'/>");
	});
</script>
{% endblock %}