{% extends "website/header_footer.html" %}
{% load staticfiles %}
{% block javascript %}
  <link rel="shortcut icon" href="{% static "website/favicon.ico" %}" type="image/x-icon">
  <link rel=icon href="{% static "website/favicon.ico" %}" type="image/x-icon">

  <script src="{% static "website/js/landingpage_banner_custom.js" %}"></script>
  <script src="{% static "website/js/landingpage_main_custom.js" %}"></script>
{% endblock %}


{% block content %}


<div id="main-wrapper">
  <div id="main-ir-inner-wrapper">
    <div id="content-ir-wrapper">
      <div id="content-ir-header-wrapper">
        <h1>Frequently Asked Questions</h1>
      </div>
      <div id="content-ir-wrap">
        <div id="content-ir-text">
          <h1>Do I have to be a CAP-member to hold an event?</h1>
          <p>No, you don’t have to be a CAP-member to hold and event with UPE and the CS community at Cal. Though without this membership, you may not actively recruit and collect resumes at the event.</p>
        </div>
        <div id="content-ir-text">
          <h1>Do I have to be a CAP-member to hold an event?</h1>
          <p>No, you don’t have to be a CAP-member to hold and event with UPE and the CS community at Cal. Though without this membership, you may not actively recruit and collect resumes at the event.</p>
        </div>
        <div id="content-ir-text">
          <h1>Do I have to be a CAP-member to hold an event?</h1>
          <p>No, you don’t have to be a CAP-member to hold and event with UPE and the CS community at Cal. Though without this membership, you may not actively recruit and collect resumes at the event.</p>
        </div>
        <div id="content-ir-text">
          <h1>Do I have to be a CAP-member to hold an event?</h1>
          <p>No, you don’t have to be a CAP-member to hold and event with UPE and the CS community at Cal. Though without this membership, you may not actively recruit and collect resumes at the event.</p>
        </div>
        <div id="content-ir-text">
          <h1>Do I have to be a CAP-member to hold an event?</h1>
          <p>No, you don’t have to be a CAP-member to hold and event with UPE and the CS community at Cal. Though without this membership, you may not actively recruit and collect resumes at the event.</p>
        </div>
        <div id="content-ir-text">
          <h1>Do I have to be a CAP-member to hold an event?</h1>
          <p>No, you don’t have to be a CAP-member to hold and event with UPE and the CS community at Cal. Though without this membership, you may not actively recruit and collect resumes at the event.</p>
        </div>
        <div id="content-ir-text">
          <h1>Do I have to be a CAP-member to hold an event?</h1>
          <p>No, you don’t have to be a CAP-member to hold and event with UPE and the CS community at Cal. Though without this membership, you may not actively recruit and collect resumes at the event.</p>
        </div>
        <div id="content-ir-text">
          <h1>Do I have to be a CAP-member to hold an event?</h1>
          <p>No, you don’t have to be a CAP-member to hold and event with UPE and the CS community at Cal. Though without this membership, you may not actively recruit and collect resumes at the event.</p>
        </div>
        <div id="content-ir-text">
          <h1>Do I have to be a CAP-member to hold an event?</h1>
          <p>No, you don’t have to be a CAP-member to hold and event with UPE and the CS community at Cal. Though without this membership, you may not actively recruit and collect resumes at the event.</p>
        </div>
        <div id="content-ir-text">
          <h1>Do I have to be a CAP-member to hold an event?</h1>
          <p>No, you don’t have to be a CAP-member to hold and event with UPE and the CS community at Cal. Though without this membership, you may not actively recruit and collect resumes at the event.</p>
        </div>
        <div id="content-ir-text">
          <h1>Do I have to be a CAP-member to hold an event?</h1>
          <p>No, you don’t have to be a CAP-member to hold and event with UPE and the CS community at Cal. Though without this membership, you may not actively recruit and collect resumes at the event.</p>
        </div>
      </div>
    </div>










{% endblock %}