<table>
<thead>
    <tr>
        <th>Hour</th>
        <th>Monday</th>
        <th>Tuesday</th>
        <th>Wednesday</th>
        <th>Thursday</th>
        <th>Friday</th>
    </tr>
</thead>
<tbody>
    <tr>
        <td>11 AM - 12 PM</td>
        {% for slot in slot_11 %}
            <td>{{ slot|safe }}</td>
        {% endfor %}
    </tr>
    <tr>
        <td>12 PM - 1 PM</td>
        {% for slot in slot_12 %}
            <td>{{ slot|safe }}</td>
        {% endfor %}
    </tr>
    <tr>
        <td>1 PM - 2 PM</td>
        {% for slot in slot_13 %}
            <td>{{ slot|safe }}</td>
        {% endfor %}
    </tr>
    <tr>
        <td>2 PM - 3 PM</td>
        {% for slot in slot_14 %}
            <td>{{ slot|safe }}</td>
        {% endfor %}
    </tr>
    <tr>
        <td>3 PM - 4 PM</td>
        {% for slot in slot_15 %}
            <td>{{ slot|safe }}</td>
        {% endfor %}
    </tr>
    <tr>
        <td>4 PM - 5 PM</td>
        {% for slot in slot_16 %}
            <td>{{ slot|safe }}</td>
        {% endfor %}
    </tr>
    <tr>
        <td>5 PM - 6 PM</td>
        {% for slot in slot_17 %}
            <td>{{ slot|safe }}</td>
        {% endfor %}
    </tr>
</tbody>
</table>
