{% extends "website/header_footer.html" %}
{% load staticfiles %}
{% block javascript %}
  <link rel="shortcut icon" href="{% static "website/favicon.ico" %}" type="image/x-icon">
  <link rel=icon href="{% static "website/favicon.ico" %}" type="image/x-icon">

  <script src="{% static "website/js/jquery_1.11.0.min.js" %}"></script>
  <script src="{% static "website/js/modernizr_custom_79639.js" %}"></script>
  <script src="{% static "website/js/ba_cond.min.js" %}"></script>
  <script src="{% static "website/js/landingpage_banner_custom.js" %}"></script>
  <script src="{% static "website/js/landingpage_main_custom.js" %}"></script>
  <script src="{% static "website/js/isotope.min.js" %}"></script>
  <script src="{% static "website/js/office_hours.json" %}"></script>
  <script src="{% static "website/js/office_hours.js" %}"></script>
{% endblock %}
{% block content %}

<!-- MAIN -->
<div id="main-wrapper">
  <div id="main-inner-wrapper">
    <div class="oh-wrapper">
      <header class="oh-title">Office Hours @ 346 Soda Hall</header>
      <div class="filters">
        <select class="filter days">
          <option value="">-- Day --</option>
          <option value="Mon">Monday</option>
          <option value="Tues">Tuesday</option>
          <option value="Wed">Wednesday</option>
          <option value="Thurs">Thursday</option>
          <option value="Fri">Friday</option>
        </select>
      </div>
      <ul class="officers-oh"></ul>
    </div>
  </div>
</div>
<!-- ENDS MAIN -->

{% endblock %}
