{% extends "website/header_footer.html" %}
{% load staticfiles %}
{% block javascript %}
<link rel="stylesheet" type="text/css" href="{% static "website/css/bootstrap.min.css" %}">
<link rel="stylesheet" type="text/css" href="{% static "website/css/select2.min.css" %}">  
<link rel="stylesheet" type="text/css" href="{% static "website/css/perfect-scrollbar.css" %}">
<link rel="stylesheet" type="text/css" href="{% static "website/css/util.css" %}">
<link rel="stylesheet" type="text/css" href="{% static "website/css/main.css" %}">
<script src="{% static "website/js/jquery_1.11.0.min.js" %}"></script>
  <script src="{% static "website/js/modernizr_custom_79639.js" %}"></script>
  <script src="{% static "website/js/ba_cond.min.js" %}"></script>
  <script src="{% static "website/js/landingpage_banner_custom.js" %}"></script>
{% endblock %}
{% block content %}

<!-- MAIN -->
<div id="main-wrapper">
  <div id="main-inner-wrapper">
    <div class="oh-wrapper">
      <header class="oh-title">Office Hours @ 346 Soda Hall</header>
      <div class="table100 ver5 m-b-110">
        <div class="table100-head">
          <table>
            <thead>
              <tr class="row100 head">
                <th class="cell100 column1">Time</th>
                <th class="cell100 column3">Name</th>
                <th class="cell100 column4">Preferred Classes</th>
                <th class="cell100 column5">Mock Interview</th>
              </tr>
            </thead>
          </table>
        </div>
        <div class="table100-body js-pscroll">
            <table>
                <tbody>
                    <tr class="row100 body">
                        <td class="cell100 column1">Monday 11:00AM - 12:00PM</td>
                        <td class="cell100 column3">Andy</td>
                        <td class="cell100 column4">No Preference</td>
                        <td class="cell100 column5">Yes</td>
                    </tr>
                    <tr class="row100 body">
                        <td class="cell100 column1">Monday 11:00AM - 12:00PM</td>
                        <td class="cell100 column3">Audrey</td>
                        <td class="cell100 column4">No Preference</td>
                        <td class="cell100 column5">Yes</td>
                    </tr>
                    <tr class="row100 body">
                        <td class="cell100 column1">Monday 12:00PM - 1:00PM</td>
                        <td class="cell100 column3">Brian</td>
                        <td class="cell100 column4">CS 61A/B, CS70</td>
                        <td class="cell100 column5">No</td>
                    </tr>
                    <tr class="row100 body">
                        <td class="cell100 column1">Monday 12:00PM - 1:00PM</td>
                        <td class="cell100 column3">Michelle</td>
                        <td class="cell100 column4">No Preference</td>
                        <td class="cell100 column5">No</td>
                    </tr>
                    <tr class="row100 body">
                        <td class="cell100 column1">Monday 1:00PM - 2:00PM</td>
                        <td class="cell100 column3">Kimmy</td>
                        <td class="cell100 column4">CS 61A/B, EE 16A</td>
                        <td class="cell100 column5">Yes</td>
                    </tr>
                    <tr class="row100 body">
                        <td class="cell100 column1">Monday 1:00PM - 2:00PM</td>
                        <td class="cell100 column3">Ray</td>
                        <td class="cell100 column4">CS 61A/B, CS 70, CS 168, CS 188, EE 16A</td>
                        <td class="cell100 column5">No</td>
                    </tr>
                    <tr class="row100 body">
                        <td class="cell100 column1">Monday 2:00PM - 3:00PM</td>
                        <td class="cell100 column3">Brandon</td>
                        <td class="cell100 column4">CS 61A/B/C, CS 188, DS 8</td>
                        <td class="cell100 column5">Yes</td>
                    </tr>
                    <tr class="row100 body">
                        <td class="cell100 column1">Monday 2:00PM - 3:00PM</td>
                        <td class="cell100 column3">Jacqueline</td>
                        <td class="cell100 column4">No Preference</td>
                        <td class="cell100 column5">No</td>
                    </tr>
                    <tr class="row100 body">
                        <td class="cell100 column1">Monday 3:00PM - 4:00PM</td>
                        <td class="cell100 column3">Jack</td>
                        <td class="cell100 column4">CS 61A/B/C, CS 70, CS 170, CS 186</td>
                        <td class="cell100 column5">Yes</td>
                    </tr>
                    <tr class="row100 body">
                        <td class="cell100 column1">Monday 3:00PM - 4:00PM</td>
                        <td class="cell100 column3">Jennie</td>
                        <td class="cell100 column4">CS 61A/B, EE 16A</td>
                        <td class="cell100 column5">No</td>
                    </tr>
                    <tr class="row100 body">
                        <td class="cell100 column1">Monday 4:00PM - 5:00PM</td>
                        <td class="cell100 column3">Mesut</td>
                        <td class="cell100 column4">CS 61A/B/C, CS 70, CS 170, CS 188, EE 16A/B, EECS 126</td>
                        <td class="cell100 column5">No</td>
                    </tr>
                    <tr class="row100 body">
                        <td class="cell100 column1">Monday 4:00PM - 5:00PM</td>
                        <td class="cell100 column3">Yucheng (Tony)</td>
                        <td class="cell100 column4">No Preference</td>
                        <td class="cell100 column5">No</td>
                    </tr>
                    <tr class="row100 body">
                        <td class="cell100 column1">Tuesday 11:00AM - 12:00PM</td>
                        <td class="cell100 column3">Lindsay</td>
                        <td class="cell100 column4">No Preference</td>
                        <td class="cell100 column5">Yes</td>
                    </tr>
                    <tr class="row100 body">
                        <td class="cell100 column1">Tuesday 11:00AM - 12:00PM</td>
                        <td class="cell100 column3">Griffin</td>
                        <td class="cell100 column4">CS 61A/B, CS70, EE16A</td>
                        <td class="cell100 column5">No</td>
                    </tr>
                    <tr class="row100 body">
                        <td class="cell100 column1">Tuesday 12:00PM - 1:00PM</td>
                        <td class="cell100 column3">Chris</td>
                        <td class="cell100 column4">CS 61A/B</td>
                        <td class="cell100 column5">No</td>
                    </tr>
                    <tr class="row100 body">
                        <td class="cell100 column1">Tuesday 12:00PM - 1:00PM</td>
                        <td class="cell100 column3">Drew</td>
                        <td class="cell100 column4">CS 61A/B, CS 70, EE 16B</td>
                        <td class="cell100 column5">No</td>
                    </tr>
                    <tr class="row100 body">
                        <td class="cell100 column1">Tuesday 1:00PM - 2:00PM</td>
                        <td class="cell100 column3">Andrew</td>
                        <td class="cell100 column4">No Preference</td>
                        <td class="cell100 column5">No</td>
                    </tr>
                    <tr class="row100 body">
                        <td class="cell100 column1">Tuesday 1:00PM - 2:00PM</td>
                        <td class="cell100 column3">Aakash</td>
                        <td class="cell100 column4">CS 61A/B, CS 70, CS 188, EE 16A/B</td>
                        <td class="cell100 column5">No</td>
                    </tr>
                    <tr class="row100 body">
                        <td class="cell100 column1">Tuesday 2:00PM - 3:00PM</td>
                        <td class="cell100 column3">Sherman</td>
                        <td class="cell100 column4">CS 61A/B/C, CS 170, CS 188</td>
                        <td class="cell100 column5">Yes</td>
                    </tr>
                    <tr class="row100 body">
                        <td class="cell100 column1">Tuesday 2:00PM - 3:00PM</td>
                        <td class="cell100 column3">Peter</td>
                        <td class="cell100 column4">No Preference</td>
                        <td class="cell100 column5">No</td>
                    </tr>
                    <tr class="row100 body">
                        <td class="cell100 column1">Tuesday 3:00PM - 4:00PM</td>
                        <td class="cell100 column3">Adeel</td>
                        <td class="cell100 column4">CS 61A/B, DS 8</td>
                        <td class="cell100 column5">Yes</td>
                    </tr>
                    <tr class="row100 body">
                        <td class="cell100 column1">Tuesday 3:00PM - 4:00PM</td>
                        <td class="cell100 column3">Ruihan</td>
                        <td class="cell100 column4">CS 61A/B/C, CS 70, CS 160, CS 161, CS 162, CS168, CS 170, CS 186, CS 188, EE 16A</td>
                        <td class="cell100 column5">Yes</td>
                    </tr>
                    <tr class="row100 body">
                        <td class="cell100 column1">Tuesday 4:00PM - 5:00PM</td>
                        <td class="cell100 column3">William</td>
                        <td class="cell100 column4">No Preference</td>
                        <td class="cell100 column5">No</td>
                    </tr>
                    <tr class="row100 body">
                        <td class="cell100 column1">Wednesday 11:00AM - 12:00PM</td>
                        <td class="cell100 column3">Ziqi</td>
                        <td class="cell100 column4">CS 61A/B/C, CS 186, CS 188</td>
                        <td class="cell100 column5">Yes</td>
                    </tr>
                    <tr class="row100 body">
                        <td class="cell100 column1">Wednesday 11:00AM - 12:00PM</td>
                        <td class="cell100 column3">Gefen</td>
                        <td class="cell100 column4">CS 61A/B, CS70, CS 188</td>
                        <td class="cell100 column5">No</td>
                    </tr>
                    <tr class="row100 body">
                        <td class="cell100 column1">Wednesday 12:00PM - 1:00PM</td>
                        <td class="cell100 column3">Patrick</td>
                        <td class="cell100 column4">CS 61A/B, CS 70, CS 170, CS 186, CS 188, EE 16A/B</td>
                        <td class="cell100 column5">Yes</td>
                    </tr>
                    <tr class="row100 body">
                        <td class="cell100 column1">Wednesday 12:00PM - 1:00PM</td>
                        <td class="cell100 column3">Edward</td>
                        <td class="cell100 column4">CS 61A/B, CS 70, CS 170, CS 186</td>
                        <td class="cell100 column5">Yes</td>
                    </tr>
                    <tr class="row100 body">
                        <td class="cell100 column1">Wednesday 1:00PM - 2:00PM</td>
                        <td class="cell100 column3">Ally</td>
                        <td class="cell100 column4">CS 61A/B/C, CS 70, EE 16A</td>
                        <td class="cell100 column5">Yes</td>
                    </tr>
                    <tr class="row100 body">
                        <td class="cell100 column1">Wednesday 1:00PM - 2:00PM</td>
                        <td class="cell100 column3">Ram</td>
                        <td class="cell100 column4">CS 61A/B/C, CS 170, CS 188, DS 8, EE 16A</td>
                        <td class="cell100 column5">Yes</td>
                    </tr>
                    <tr class="row100 body">
                        <td class="cell100 column1">Wednesday 2:00PM - 3:00PM</td>
                        <td class="cell100 column3">Ming</td>
                        <td class="cell100 column4">CS 61A</td>
                        <td class="cell100 column5">Yes</td>
                    </tr>
                    <tr class="row100 body">
                        <td class="cell100 column1">Wednesday 2:00PM - 3:00PM</td>
                        <td class="cell100 column3">Andrew</td>
                        <td class="cell100 column4">CS 61A/B, CS 70, EE 16B</td>
                        <td class="cell100 column5">Yes</td>
                    </tr>
                    <tr class="row100 body">
                        <td class="cell100 column1">Wednesday 3:00PM - 4:00PM</td>
                        <td class="cell100 column3">Vinitra</td>
                        <td class="cell100 column4">CS 61A/C, CS 70, CS 162, CS 170, CS 186, CS 188, DS 8, DS 100, EE 16A</td>
                        <td class="cell100 column5">Yes</td>
                    </tr>
                    <tr class="row100 body">
                        <td class="cell100 column1">Wednesday 3:00PM - 4:00PM</td>
                        <td class="cell100 column3">Mike</td>
                        <td class="cell100 column4">No Preference</td>
                        <td class="cell100 column5">No</td>
                    </tr>
                    <tr class="row100 body">
                        <td class="cell100 column1">Wednesday 4:00PM - 5:00PM</td>
                        <td class="cell100 column3">Yiling</td>
                        <td class="cell100 column4">CS 61A/B/C, CS 70</td>
                        <td class="cell100 column5">No</td>
                    </tr>
                    <tr class="row100 body">
                        <td class="cell100 column1">Wednesday 4:00PM - 5:00PM</td>
                        <td class="cell100 column3">Darren</td>
                        <td class="cell100 column4">CS 61A/B, CS70, EE16A</td>
                        <td class="cell100 column5">No</td>
                    </tr>
                    <tr class="row100 body">
                        <td class="cell100 column1">Thursday 11:00AM - 12:00PM</td>
                        <td class="cell100 column3">Gavin</td>
                        <td class="cell100 column4">No Preference</td>
                        <td class="cell100 column5">No</td>
                    </tr>
                    <tr class="row100 body">
                        <td class="cell100 column1">Thursday 12:00PM - 1:00PM</td>
                        <td class="cell100 column3">Laura</td>
                        <td class="cell100 column4">CS 61A/B, CS70, EE16A, DS8</td>
                        <td class="cell100 column5">No</td>
                    </tr>
                    <tr class="row100 body">
                        <td class="cell100 column1">Thursday 1:00PM - 2:00PM</td>
                        <td class="cell100 column3">Daniel</td>
                        <td class="cell100 column4">No Preference</td>
                        <td class="cell100 column5">Yes</td>
                    </tr>
                    <tr class="row100 body">
                        <td class="cell100 column1">Thursday 1:00PM - 2:00PM</td>
                        <td class="cell100 column3">Kyle</td>
                        <td class="cell100 column4">CS 61A/B, CS70, EE16A</td>
                        <td class="cell100 column5">No</td>
                    </tr>
                    <tr class="row100 body">
                        <td class="cell100 column1">Thursday 2:00PM - 3:00PM</td>
                        <td class="cell100 column3">Jeremy</td>
                        <td class="cell100 column4">CS 61A/B/C</td>
                        <td class="cell100 column5">Yes</td>
                    </tr>
                    <tr class="row100 body">
                        <td class="cell100 column1">Thursday 2:00PM - 3:00PM</td>
                        <td class="cell100 column3">Nadir</td>
                        <td class="cell100 column4">CS 9E, CS 61A/B, CS 70</td>
                        <td class="cell100 column5">Yes</td>
                    </tr>
                    <tr class="row100 body">
                        <td class="cell100 column1">Thursday 3:00PM - 4:00PM</td>
                        <td class="cell100 column3">Julie</td>
                        <td class="cell100 column4">CS 61A/B/C, CS 70, CS 170</td>
                        <td class="cell100 column5">Yes</td>
                    </tr>
                    <tr class="row100 body">
                        <td class="cell100 column1">Thursday 3:00PM - 4:00PM</td>
                        <td class="cell100 column3">Sukhpreet</td>
                        <td class="cell100 column4">CS 61A/B</td>
                        <td class="cell100 column5">No</td>
                    </tr>
                    <tr class="row100 body">
                        <td class="cell100 column1">Thursday 4:00PM - 5:00PM</td>
                        <td class="cell100 column3">Anfal</td>
                        <td class="cell100 column4">CS 61A/B/C, CS 70, CS 170</td>
                        <td class="cell100 column5">No</td>
                    </tr>
                    <tr class="row100 body">
                        <td class="cell100 column1">Thursday 4:00PM - 5:00PM</td>
                        <td class="cell100 column3">Kevin</td>
                        <td class="cell100 column4">CS 61A/B/C, CS 70, EE16A/B</td>
                        <td class="cell100 column5">No</td>
                    </tr>
                </thead>
            </table>
        </div>


      <ul class="officers-oh"></ul>
    </div>
  </div>
</div>
<!-- ENDS MAIN -->

{% endblock %}
