{% extends "website/header_footer.html" %}
{% load staticfiles %}
{% block javascript %}

  <script src="{% static "website/js/jquery_1.11.0.min.js" %}"></script>
  <script src="{% static "website/js/modernizr_custom_79639.js" %}"></script>
  <script src="{% static "website/js/ba_cond.min.js" %}"></script>
  <script src="{% static "website/js/landingpage_banner_custom.js" %}"></script>
  <script src="{% static "website/js/landingpage_main_custom.js" %}"></script>
  <script src="{% static "website/js/isotope.min.js" %}"></script>
  <script src="{% static "website/js/office_hours.json" %}"></script>
  <script src="{% static "website/js/office_hours.js" %}"></script>
{% endblock %}
{% block content %}

<!-- MAIN -->
<div id="main-wrapper">
  <div id="main-inner-wrapper">
    <div class="oh-wrapper">
      <header class="oh-title">Office Hours @ 346 Soda Hall</header>
      <div class="filters">
        <select class="filter days">
          <option value="">-- Day --</option>
          <option value="Mon">Monday</option>
          <option value="Tues">Tuesday</option>
          <option value="Wed">Wednesday</option>
          <option value="Thurs">Thursday</option>
          <option value="Fri">Friday</option>
        </select>
        <select class="filter classes">
          <option value="">-- Class --</option>
          <option value="CS_C8">CS C8</option>
	        <option value="CS_10">CS 10</option>
          <option value="CS_61A">CS 61A</option>
          <option value="CS_61B">CS 61B</option>
          <option value="CS_61C">CS 61C</option>
	        <option value="CS_70">CS 70</option>
	        <option value="CS_160">CS 160</option>
	        <option value="CS_161">CS 161</option>
	        <option value="CS_162">CS 162</option>
	        <option value="CS_164">CS 164</option>
	        <option value="CS_168">CS 168</option>
	        <option value="CS_169">CS 169</option>
	        <option value="CS_170">CS 170</option>
	        <option value="CS_176">CS 176</option>
	        <option value="CS_186">CS 186</option>
	        <option value="CS_188">CS 188</option>
	        <option value="CS_189">CS 189</option>
          <option value="EE_16A">EE 16A</option>
        </select>
      </div>
      <ul class="officers-oh"></ul>
    </div>
  </div>
</div>
<!-- ENDS MAIN -->

{% endblock %}
