{% extends "website/header_footer.html" %}
{% load staticfiles %}
{% block stylesheets %}
<link rel="stylesheet" href="{% static "website/css/full_style.css" %}" type="text/css" media="screen" />
<link rel="stylesheet" href="{% static "website/css/main_style.css" %}" type="text/css" media="screen" />
<link rel="stylesheet" href="{% static "website/css/header_style.css" %}" type="text/css" media="screen" />
<link rel="stylesheet" href="{% static "website/css/footer_style.css" %}" type="text/css" media="screen" />
<link href="http://netdna.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css" rel="stylesheet">
<link rel="stylesheet" href="{% static "website/css/hover.css" %}" type="text/css" media="screen" />
<link rel="stylesheet" href="{% static "website/css/officers_members.css" %}" type="text/css" media="screen" />
<link href="http://netdna.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css" rel="stylesheet">
<link href='http://fonts.googleapis.com/css?family=Arimo:400,700' rel='stylesheet' type='text/css'>
{% endblock %}
{% block content %}
<div class="content-container">
	<div id="content-header-wrapper">
    <h1>{{ user.first_name }} {{ user.last_name }}</h1>
    <p><img src="/media/{{ up.picture }}"></p>
    <p>{{ up.get_user_type_display }}</p>
    
    <p>{{ user.email }}</p>
    <p>Graduation Year: {{ up.get_grad_year_display }}</p>
    <p>Joined in {{ up.get_year_joined_display }}</p>
    <p>Personal Website: {{ up.personal_website }}</p>
    <hr>
    <p>Resume: <a href="/media/{{ up.resume }}" style="color: blue;">resume</a>
    <form action="{% url "myprofile" %}" method="post" enctype="multipart/form-data">
        {% csrf_token %}
        {{ resume_upload.as_p }}
        <p><input type="submit" value="Upload" /></p>

    </form></p>
    <hr>
    <p>Github: {{ up.github }}</p>
    <p>Linkedin: {{ up.linkedin }}</p>
	</div>
</div>
{% endblock %}
