{% extends "website/header_footer.html" %}
{% load staticfiles %}
{% block stylesheets %}
<link rel="stylesheet" href="{% static "website/css/reset.css" %}" type="text/css" media="screen" />
<link rel="stylesheet" href="{% static "website/css/full_style.css" %}" type="text/css" media="screen" />
<link rel="stylesheet" href="{% static "website/css/main_style.css" %}" type="text/css" media="screen" />
<link rel="stylesheet" href="{% static "website/css/header_style.css" %}" type="text/css" media="screen" />
<link rel="stylesheet" href="{% static "website/css/footer_style.css" %}" type="text/css" media="screen" />
<link href="http://netdna.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css" rel="stylesheet">
<link rel="stylesheet" href="{% static "users/css/officers_members.css" %}" type="text/css" media="screen" />
<link rel="stylesheet" href="{% static "users/css/register.css" %}" type="text/css" media="screen" />
<link href='http://fonts.googleapis.com/css?family=Arimo:400,700' rel='stylesheet' type='text/css'>
{% endblock %}
{% block content %}
<div class="content-container"> 
    {% for post in posts %}
        <a href='/board/post/{{post.id}}' style="color:black">
        <div class="post" id="post-{{post.id}}">
            <div class= "post-title">
                {{post.title}} {{post.id}}
            </div>
            <div class="post-content">
                {{post.content}}
            </div>
            <div class="post-datepublished">
                {{post.date_published}}
            </div>
        </div>
        </a>
        <hr/>
    {% endfor %}
</div>
{% endblock %}