/* Calendar Styles */
#calendar-wrapper {
	padding: 10px 30px 30px 30px;
	width: 1024px;
	color: #242424;
	background-image: url(http://subtlepatterns.com/patterns/brillant.png);
	margin: 70px auto 20px auto;
	font-family: 'PT Sans', sans-serif;
}
#calendar-title {
    text-align: center;
    text-transform: uppercase;
    padding: 20px;
    font-weight: 200px;
    font-size: 28px;
}
#days-wrapper {
	width: 100%;
	text-align: center;
	table-layout: fixed;
}
#week1-wrapper {
	width: 100%;
	height: 100px;
	table-layout: fixed;
}
#week2-wrapper {
	width: 100%;
	height: 100px;
	table-layout: fixed;
}
#week3-wrapper {
	width: 100%;
	height: 100px;
	table-layout: fixed;
}
#week4-wrapper {
	width: 100%;
	height: 100px;
	table-layout: fixed;
}
#week5-wrapper {
	width: 100%;
	height: 100px;
	table-layout: fixed;
}
#week6-wrapper {
	height: 100px;
	table-layout: fixed;
    width: 100%;
}
.calendar-day {
    border-style: solid;
    border-width: 1.5px;
    border-color: #C9C9C9;
    border-top-width: 0.5px;
}
#calendar-wrapper .date {
	font-size: 12px;
	text-align: right;
	color: #C9C9C9;
	padding: 5px;
	/* background: #C5E6EE; */
}
.day-row {
    border-style: solid;
    border-width: 1.5px;
    border-color: #C9C9C9;
    padding: 10px;
    font-weight: bold;
    font-size: 14px;
    color: #808080;
}
.event-info {
	font-size: 11.5px;
	padding: 5px;
	width: 82%;
	margin: auto;
	color: #F5F5F5;
	background: #2CB7DB;
	text-align: center;
	border-width: 1px;
	margin-bottom: 6px;
	border-radius: 31px;
	text-overflow: ellipsis;
	max-width: 130px;
	overflow: hidden;
}
.next-month {
	background: #E2E2E2;
}

#curr-date {
	color: #e74c3c;
}
