/* CSS RESET
   http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
  display: block;
}
body {
  line-height: 1;
}
ol, ul {
  list-style: none;
}
blockquote, q {
  quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* Footer Styles */
footer-content a {
/*  color: #777;*/
  color: white;
}
footer-content a:link {
  text-decoration: none;
}
footer-content a:hover {
  text-decoration: underline;
}
#footer-wrapper {
    color: white;
    z-index: 10;
    width: 100%;
    font-family: "Helvetica Neue", HelveticaNeue, TeXGyreHeros, FreeSans, "Nimbus Sans L", "Liberation Sans", Arimo, Helvetica, Arial, sans-serif;
    font-size: 14px;
}
#footer-sponsor {
  background: #616161;
    overflow: hidden;
  padding-top: 10px;
  padding-bottom: 10px;
}
#footer-sponsor h1 {
  text-align: center;
  font-weight: 700;
}
.sponsor-icon {
  width: 120px;
}
#sponsor-images {
  width: 120px;
  height: 40px;
  margin: 10px auto;
}
.img-col {
  float: left;
  display: inline;
  #width: 250px;
  #padding: 10px;
  #padding-left: 30px;
}
#footer-top-wrapper {
  background: #3A3A3A;
  overflow: hidden;
  padding-top: 5px;
  line-height: 18px;
  color: #D3D3D3;
  height: 250px;
  font-size: 12px;
}
#footer-top {
  width: 990px;
  margin: 0px auto;
}
.top-col {
  float: left;
  display: inline;
  width: 210px;
  padding: 15px;
  height: 240px;
}
.top-col-title {
  color: white;
  border-bottom: 2px solid #666666;
  font-size: 14px;
}
.top-col-info {
    margin-top: 10px;
}
.top-col-title span {
  padding: 0 20px 10px 0;
  border-bottom: 2px solid #3EACC7;
  display: inline-block;
  margin-bottom: -1px;
}
#contact-list li:before {
    content: "+";
    color: white;
}
/*#footer-middle {
  background: #3A3A3A;
  line-height: 30px;
  overflow: hidden;
  text-align: center;
}*/
#footer-bottom-wrapper {
    background: #242424;
    overflow: hidden;
    font-size: 12px;
    color: #fefefa;
}
#footer-bottom {
  width: 990px;
  margin: 0px auto;
}
#footer-icon {
    height: 20px;
    float: left;
    display: block;
    padding-top: 10px;
}
#copyright {
    float: right;
    line-height: 40px;
}
#mini-menu {
  margin-left: 40px;
}
.mini-menu-item {
  float: left;
  padding: 0px 2px;
    line-height: 40px;
    color: #fefefa;
}
#name {
  font-weight: bold;
}
.event-logo {
  float: left;
  width: 30px;
  height: 30px;
  border-radius: 50px;
  margin: 5px 10px 5px 0px;
}
.events-footer {
  padding: 5px;
}
#icons1 {
  height: 40px;
  display: block;
}
#icons2 {
  height: 40px;
  display: block;
}
#icons3 {
  height: 40px;
  display: block;
}
.icon-bar {
  float: left;
  padding: 12px;
}
#search-box {
    position: relative;
    width: 100%;
    margin: 0;
}
#search-form {
    height: 20px;
    border: 1px solid #999;
    border-radius: 3px;
    background-color: #fff;
    overflow: hidden;
    margin-top: 10px;
}
#search-text {
    font-size: 12px;
    color: #ddd;
    border-width: 0;
    background: transparent;
}
#search-box input[type="text"] {
    width: 90%;
    padding-left: 12px;
    color: #333;
    outline: none;
}
#search-button {
    position: absolute;
    top: 0;
    right: 0;
    height: 21px;
    width: 60px;
    font-size: 12px;
    color: #fff;
    text-align: center;
    line-height: 20px;
    border-width: 0;
    background-color: #999;
    border-radius: 0px 3px 3px 0px;
    cursor: pointer;
}
#footer-wrapper .social {
  background-color: #808080;
  padding: 12px;
  border-radius: 50px;
  height: 15px;
  width: 15px;
  display: inline-block;
}

#footer-wrapper .social .fa{
  font-size: 20px;
  position: relative;
  color: #fefefa;
}

#footer-wrapper .social .fa-facebook {
  top: -1px;
  left: 1px;
}


#footer-wrapper .facebook, .twitter, .rss {
  background: #808080;
  webkit-transition: all 0.3s ease-in-out;
  moz-transition: all 0.3s ease-in-out;
  o-transition: all 0.3s ease-in-out;
  ms-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;;
}

#footer-wrapper .facebook:hover {
  background-color: #3b5998;

}

#footer-wrapper .twitter:hover {
  background-color: #2daddc;
}

#footer-wrapper .rss:hover {
  background-color: #d14836;
}

#footer-wrapper .social .fa-twitter {
  top: -2px;
  left: -1px;
}

#footer-wrapper .social .fa-rss {
  top: -2px;
  left: 1px;
}
