/* Overarching Styles */

body {
  font-family: 'PT Sans', sans-serif;
  background-color: #f2f2f2;
}

#main-wrapper {
  font-size: 14px;
  line-height: 18px;
  font-family: 'PT Sans', sans-serif;
  color: #333;
}

.pull-left {
	float: left !important;
}

.pull-right {
	float: right !important;
}

