#questions-sidebar {
	height: 600px;
	overflow: auto;
}
#questions-table {
	cursor: pointer;
}
#targ-question {
	height: 800px;
	overflow: auto;
}

#targ-question iframe {
    height: 100%;
    width: 100%;
}


#question-soln {
	margin-top: 10px;
}
#nav-questions {
	margin-top: 10px;
	margin-bottom: 20px;
}