@import url(http://fonts.googleapis.com/css?family=PT+Sans);

/* Main Styles */

a {
  color:#47B5DA;
}

#main-wrapper {
  font-size: 14px;
  line-height: 18px;
  font-family: 'PT Sans', sans-serif;
  color: #555;
  overflow: hidden;
}

#main-inner-wrapper {
  width: 990px;
  margin: 0px auto 30px auto;
}

#main-content-wrapper {
  margin-top: 50px;
  min-height: 300px;
}

#content-wrapper {
  background-color: #fff;
  padding: 20px 0 40px;
  margin: 35px auto;
  box-shadow: 0 0 10px #bfbeba;
  -moz-box-shadow: 0 0 10px #bfbeba;
  -webkit-box-shadow: 0 0 10px #bfbeba;
  -o-box-shadow: 0 0 10px #bfbeba;
  -ktml-box-shadow: 0 0 10px #bfbeba;
  -ms-box-shadow: 0 0 10px #bfbeba;
}

#content-header-wrapper {
  padding: 10px 0px 30px 0px;
  text-align: center;
}

#content-header-wrapper h1 {
  width: 600px;
  margin: 20px auto 10px auto;
  font-weight: 700;
 /* text-align: center;*/
  font-size: 24px;
}

#content-header-wrapper p {
  margin: 20px auto 10px auto;
  /* text-align: center;*/
  font-size: 16px;
  line-height: 20px;
  padding: 0 25px;
  color: #888;
}

#content-studentservices-wrapper {
  height: 200px;
}

#content-studentservices-wrapper img {
  float: left;
}

#content-studentservices-text {
  width: 350px;
  float: left;
  margin-left: 115px;
  margin-top: 10px;;
}

#content-studentservices-text h1 {
  font-size: 17px;
  font-weight: 700;
  margin-bottom: 5px;
}

#content-studentservices-text p {
  line-height: 20px;
}

#main-ir-inner-wrapper {
  width: 990px;
  height: 1630px;
  margin: 0px auto 30px auto;
}

#content-ir-wrapper {
  background-color: #fff;
  padding: 20px 0 40px;
  margin: 35px auto;
  box-shadow: 0 0 10px #bfbeba;
  -moz-box-shadow: 0 0 10px #bfbeba;
  -webkit-box-shadow: 0 0 10px #bfbeba;
  -o-box-shadow: 0 0 10px #bfbeba;
  -ktml-box-shadow: 0 0 10px #bfbeba;
  -ms-box-shadow: 0 0 10px #bfbeba;
}

#content-ir-header-wrapper {
  padding: 10px 0px 30px 0px;
  text-align: center;
  width: 700px;
  margin: 20px auto 10px auto;
  font-weight: 700;
 /* text-align: center;*/
  font-size: 35px;
}

#content-ir-wrap {
  height: 1450px;
}

#content-ir-text {
  width: 500px;
  margin-left: 120px;
  margin-top: 30px;
}

#content-ir-text h1 {
  font-size: 20px;
  font-weight: 800;
  margin-bottom: 7px;
}

#content-ir-text p {
  line-height: 20px;
}

#anchor-right {
  position: fixed;
  font-size: 20px;
  height: 60px;
  width: 200px;
  padding: 10px;
  top: 210px;
  right: 240px;
  border: 2px solid #43ACC5;
}

#anchor-right h1 {
  font-weight: 800;
  padding-bottom: 5px;
}

#anchor-right p {
  font-size: 16px;
}

a.anchor {
    display: block;
    position: relative;
    top: -75px;
    visibility: hidden;
}



#content-members-wrapper {
  margin-top: 40px;
  height: 200px;
}

#content-members-wrapper img {
  float: left;
}

#content-members-text {
  width: 350px;
  float: left;
  margin-left: 158px;
  margin-top: 10px;
}

#content-members-text h1 {
  font-size: 17px;
  font-weight: 700;
  margin-bottom: 5px;
}

#content-members-text p {
  line-height: 20px;
}

#content-members-comment {
   float: right;
  width: 257px;
  margin-top: 40px;
  text-align: center;
  color: #888;
  margin-right: 54px;
  font-size: 23px;
  line-height: 1.3;
}

.circle {
  height: 200px;
  width: 200px;
  overflow: hidden;
  display: inline-block;
  border-radius: 115px;
  margin-left: 150px;
  border: 5px solid #E4E2E2;
}

.circle.circle2 {
  margin-left: 60px;
}

#events-OH-wrapper, .oh-wrapper, #twitter-feed-wrapper {
  margin: 35px 0px;
  width: 990px;
  overflow: auto;
  padding: 15px 0;
  min-height: 500px;
  background: #fff;
  box-shadow: 0 0 10px #bfbeba;
  -moz-box-shadow: 0 0 10px #bfbeba;
  -webkit-box-shadow: 0 0 10px #bfbeba;
  -o-box-shadow: 0 0 10px #bfbeba;
  -ktml-box-shadow: 0 0 10px #bfbeba;
  -ms-box-shadow: 0 0 10px #bfbeba;
}

.oh-wrapper .filters {
  margin: 15px 30px;
}

.oh-wrapper .filters .filter {
  width: 150px;
  margin-right: 35px;
  height: 30px;
  background: white;
  border: 2px solid #555;
  font-size: 15px;
  font-weight: 600;
  font-family: 'PT Sans';
  color: #555;
}

.officers-oh {
  padding: 30px 110px;
}

.officers-oh > li {
  width: 180px;
  height: 300px;
  background-color: white;
  position: relative;
  display: inline-block;
  margin-right: 10px;
  margin-bottom: 20px;
  -moz-box-shadow: 0 0 5px #bfbeba !important;
  -webkit-box-shadow: 0 0 5px #bfbeba !important;
  -o-box-shadow: 0 0 5px #bfbeba !important;
  -ktml-box-shadow: 0 0 5px #bfbeba !important;
  -ms-box-shadow: 0 0 5px #bfbeba !important;
}

.officers-oh .image {
  width: 100%;
  height: 180px;
  margin-bottom: 5px;
}

.officers-oh .info {
  text-align: left;
  padding: 5px;
  font-size: 16px;
  line-height: 1.2;
}

.info .name {
  font-weight: bolder;
  font-size: 18px;
}

.info .date {
}

.info .classes-skills {
  display: inline-block;
  margin-right: 5px;
  margin-top: 8px;
  font-size: 12px;
  color: #43ACC5;
}

.info span, .info ul {
  display: block;
}

.officers-oh > li:nth-child(4) {
  margin-right: 0;
}

#events-wrapper, #oh-content, .oh-title, #twitter-wrapper {
  margin: 0px 30px;
  padding: 10px 0px 10px 0px;
  width: 930px;
  color: black;
}

#events-title-wrapper, #oh-title-wrapper, #twitter-title-wrapper {
  height: 50px;
  margin: 0px auto;
}

#events-title, .oh-title, #twitter-title {
  width: 310px;
  font-weight: 700;
  font-size: 20px;
  line-height: 45px;
  color: #555;
  border-bottom: 2px solid #3eacc7;
}

#events-content-wrapper, #oh-content-wrapper, #twitter-content-wrapper {
  width: 930px;
  height: auto;
}

#oh-content-wrapper {
  width: 100%;
}

#oh-list-wrapper {
  width: 100%;
}



#events-list-wrapper {
  width: 310px;
}

.oh-title {
  padding: 10px 0 0 0;
}

.events-list-item, .oh-list-item  {
  color: black;
  margin: 10px 0px;
  height: 140px;
  width: 310px;
  cursor: pointer;
  box-shadow: 0 0 5px #bfbeba;
  -moz-box-shadow: 0 0 5px #bfbeba !important;
  -webkit-box-shadow: 0 0 5px #bfbeba !important;
  -o-box-shadow: 0 0 5px #bfbeba !important;
  -ktml-box-shadow: 0 0 5px #bfbeba !important;
  -ms-box-shadow: 0 0 5px #bfbeba !important;
}

.oh-list-item {
  width: 287px;
  margin: 10px 10px;
  font-size: 12px;
}


.events-list-item img, .oh-list-item img {
  margin: 10px;
  margin-top: 20px;
  height: 100px;
  width: 100px;
  float: left;
}

.events-list-item h1, .oh-list-item h1 {
  margin: 5px auto 8px 8px;
  padding-top: 10px;
  font-size: 18px;
  font-weight: 700;
  width: 280px;
}

.events-list-item p, .oh-list-item p {
  margin: 0px auto 5px 10px;
  line-height: 24px;
  width: 280px;
  font-size: 14px;
}

.events-list-item p span, .oh-list-item p span {
  font-weight: 700;
}

.events-list-item .description, .oh-list-item .description {
  display: none;
}

.events-list-description, .oh-list-description {
  width: 590px;
  height: 474px;
  margin-top: -5px;
  overflow: hidden;
  float: right;

  box-shadow: 0 0 5px #bfbeba;
  -moz-box-shadow: 0 0 5px #bfbeba !important;
  -webkit-box-shadow: 0 0 5px #bfbeba !important;
  -o-box-shadow: 0 0 5px #bfbeba !important;
  -ktml-box-shadow: 0 0 5px #bfbeba !important;
  -ms-box-shadow: 0 0 5px #bfbeba !important;
}

.events-list-description img, .oh-list-description img {
  height: 218px;
  margin: 0 auto;
  display: block;
}

.events-list-description-image {
  /* banner height should be > 237px */
  height: 237px;
  overflow: hidden;
  background-size: 100% auto;
  background-attachment: cover;
  background-repeat: no-repeat;
}

.description-text {
  padding: 20px;
  overflow: auto;
  height: 197px;
}

.events-list-description h1, .oh-list-description h1 {
  text-align: center;
  font-size: 18px;
  font-weight: 700;
  line-height: 30px;
  color: #555;
}

.events-list-description p, .oh-list-description p {
  line-height: 20px;
  margin: 10px 0px;
}

.interview-slot-row th {
  margin: 0;
  text-align: center;
  border-collapse: collapse;
  outline: 1px solid #000000;
  background: #47B5DA;
  color: white;
  padding: 5px 10px;
}

.interview-slot-row td {
  margin: 0;
  text-align: center;
  border-collapse: collapse;
  outline: 1px solid #000000;
}

/*
#OH-today-wrapper {
  margin: 10px auto;
  width: 990px;
  height: 500px;
}

#OH-today-title-wrapper {
  height: 50px;
  margin: 0px auto;
  width: 930px;
}

#OH-today-title {
  width: 600px;
  font-weight: 700;
  font-size: 20px;
  line-height: 45px;
  border-bottom: 2px solid #3eacc7;
}

#OH-today-content-wrapper {
  width: 930px;
  margin: 20px auto;
  height: 570px;
}

.OH-today-item {
  float: left;
  font-size: 12px;
  margin-right: 15px;
  width: 150px;
  height: 250px;
  box-shadow: 0 0 5px #bfbeba;
  -moz-box-shadow: 0 0 5px #bfbeba;
  -webkit-box-shadow: 0 0 5px #bfbeba;
  -o-box-shadow: 0 0 5px #bfbeba;
  -ktml-box-shadow: 0 0 5px #bfbeba;
  -ms-box-shadow: 0 0 5px #bfbeba;
}

.OH-today-item img {
  width: 140px;
  height: 140px;
  margin: 5px;
}

.OH-today-item p {
  width: 140px;
  margin: 0px 5px;
}

.OH-today-item p  span{
  font-weight: 700;
}

*/

#business-wrapper {
  margin: 20px 0px;
  width: 990px;
  /*height: 700px;*/
  background: #fff;
  box-shadow: 0 0 5px #bfbeba;
  -moz-box-shadow: 0 0 5px #bfbeba;
  -webkit-box-shadow: 0 0 5px #bfbeba;
  -o-box-shadow: 0 0 5px #bfbeba;
  -ktml-box-shadow: 0 0 5px #bfbeba;
  -ms-box-shadow: 0 0 5px #bfbeba;
}

.partners-wrapper {
  height: 320px;
  width: 990px;
  background: linear-gradient(0deg, rgba(2,173,231,0.5), rgba(2,173,231,0.5));
}

.partners-wrapper .title-wrapper {
  width: 990px;
  height: 100px;
  margin: 0 auto;
}

.partners-wrapper .title {
  text-align: center;
  font-size: 28px;
  color: #fff;
  line-height: 100px;
}

.partners-wrapper .title span {
  font-weight: 700;
}

.partners-wrapper .companies-background {
  background-color: rgba(255,255,255,0.4);
}

.partners-wrapper .companies-wrapper {
  width: 930px;
  height: 170px;
  margin: 0 auto;
  padding-top: 20px;
}

.partners-wrapper .companies-wrapper img {
  margin: 10px;
  float: left;
}

.partners-wrapper .company-img {
  margin: 20px 40px;
  height: 170px;
  height: 70px;
  float: left;
}

#indrel-wrapper {
  width: 960px;
  margin: 15px auto;
}

.indrel-column {
  width: 290px;
  height: 330px;
  float: left;
  margin: 0px 15px;
}

.icon-box {
  position: relative;
  margin-bottom: 56px;
  text-align: justify;
}

.icon-box  img{
  margin: 0px auto;
  height: 150px;
  width: 290px;
}

.icon-box h2 {
  font-size: 16px;
  margin: 10px 0px;
  font-weight: 700;
}

.icon-box p {
  margin: 10px 0px;
}

.icon-box a {
  font-weight: 700;
  text-decoration: none;
  color: #3EACC7;
}

.icon-box a:hover {
  text-decoration: underline;
}
