<!DOCTYPE html>
<html>
<head> 
	{% load staticfiles %}
	<link rel="stylesheet" href="{% static "users/css/interest.css" %}"  type="text/css" />
	<link href='http://fonts.googleapis.com/css?family=Oswald' rel='stylesheet' type='text/css'>
</head>
<body>
<div class="info-container">
	<div class="info">
		<p>
			<h1>Thank you for expressing interest in becoming a member of UPE!</h1>
			We're currently not accepting new member applicants, but if you'd like to learn more about the application process for next semester, contact Hugh Chen at hugh.chen1@gmail.com.
		</p>
	</div>
</div>
</body>
</html>