{% for officer in officer_1 %}
{{ officer|safe }}
{% endfor %}

{% for officer in officer_2 %}
{{ officer|safe }}
{% endfor %}

{% for officer in officer_3 %}
{{ officer|safe }}
{% endfor %}

{% for officer in officer_4 %}
{{ officer|safe }}
{% endfor %}

{% for officer in officer_5 %}
{{ officer|safe }}
{% endfor %}

{% for officer in officer_6 %}
{{ officer|safe }}
{% endfor %}

{% for officer in officer_7 %}
{{ officer|safe }}
{% endfor %}

{% for officer in officer_8 %}
{{ officer|safe }}
{% endfor %}

{% for officer in officer_9 %}
{{ officer|safe }}
{% endfor %}
