{% extends "website/header_footer.html" %}
{% load staticfiles %}
{% block stylesheets %}
<link rel="stylesheet" href="{% static "website/css/full_style.css" %}" type="text/css" media="screen" />
<link rel="stylesheet" href="{% static "users/css/login.css" %}" type="text/css" media="screen" />
{% endblock %}
{% block content %}
<div class="container">
    <div class="row">
        <div class="col-md-6 col-md-offset-3">
            <span class="login">Login</span>
            {% if incorrect_log_in %}
                <span class="error">Username or Password is incorrect</span>
            {% endif %}
            <form id="login-form" method="post" action="/login/">
                {% csrf_token %}
                Username <input type="text" name="username" value="" size="50" />
                <br />
                Password <input type="password" name="password" value="" size="50" />
                <br />
                <input type="submit" class="btn-green" value="Login" />
            </form>
            <div class="register-container">
                <ul>
                    <li><span>Not a member yet?</span> <a class="register" href="/register">Register</a></li>
                    <li><span>Forgot your password?</span> <a class="register" href="/accounts/password_reset">Reset Password</a></li>
                </ul>
            </div>            
        </div>        
    </div>
</div>
{% endblock %}
