{% extends "website/sidebar.html" %}

{% block content %}
	<div id="member-container">
		<div id="members">
			<div class="member grow">
				<img class="member-picture" src="#">
				<div class="member-info">
					<span class="name">John Doe</span>
					<span class="year">Computer Science, 2014</span>
					<span class="initiated">UPE, Spring 2014</span>
					<span class="email">john.doe@berkeley.edu</span>
					<ul class="social">
						<li><a href="#"><i class="fa fa-linkedin"></i></a></li>
						<li><a href="#"><i class="fa fa-github"></i></a></li>
						<li><a href="#"><i class="fa fa-envelope"></i></a></li>
						<li><a href="#"><i class="fa fa-globe"></i></a></li>
					</ul>
				</div>
			</div>

			<div class="member grow">
				<img class="member-picture" src="#">
				<div class="member-info">
					<span class="name">John Doe</span>
					<span class="year">Computer Science, 2014</span>
					<span class="initiated">UPE, Spring 2014</span>
					<span class="email">john.doe@berkeley.edu</span>
					<ul class="social">
						<li><a href="#"><i class="fa fa-linkedin"></i></a></li>
						<li><a href="#"><i class="fa fa-github"></i></a></li>
						<li><a href="#"><i class="fa fa-envelope"></i></a></li>
						<li><a href="#"><i class="fa fa-globe"></i></a></li>
					</ul>
				</div>
			</div>

			<div class="member grow">
				<img class="member-picture" src="#">
				<div class="member-info">
					<span class="name">John Doe</span>
					<span class="year">Computer Science, 2014</span>
					<span class="initiated">UPE, Spring 2014</span>
					<span class="email">john.doe@berkeley.edu</span>
					<ul class="social">
						<li><a href="#"><i class="fa fa-linkedin"></i></a></li>
						<li><a href="#"><i class="fa fa-github"></i></a></li>
						<li><a href="#"><i class="fa fa-envelope"></i></a></li>
						<li><a href="#"><i class="fa fa-globe"></i></a></li>
					</ul>
				</div>
			</div>

			<div class="member grow">
				<img class="member-picture" src="#">
				<div class="member-info">
					<span class="name">John Doe</span>
					<span class="year">Computer Science, 2014</span>
					<span class="initiated">UPE, Spring 2014</span>
					<span class="email">john.doe@berkeley.edu</span>
					<ul class="social">
						<li><a href="#"><i class="fa fa-linkedin"></i></a></li>
						<li><a href="#"><i class="fa fa-github"></i></a></li>
						<li><a href="#"><i class="fa fa-envelope"></i></a></li>
						<li><a href="#"><i class="fa fa-globe"></i></a></li>
					</ul>
				</div>
			</div>

			<div class="member grow">
				<img class="member-picture" src="#">
				<div class="member-info">
					<span class="name">John Doe</span>
					<span class="year">Computer Science, 2014</span>
					<span class="initiated">UPE, Spring 2014</span>
					<span class="email">john.doe@berkeley.edu</span>
					<ul class="social">
						<li><a href="#"><i class="fa fa-linkedin"></i></a></li>
						<li><a href="#"><i class="fa fa-github"></i></a></li>
						<li><a href="#"><i class="fa fa-envelope"></i></a></li>
						<li><a href="#"><i class="fa fa-globe"></i></a></li>
					</ul>
				</div>
			</div>

			<div class="member grow">
				<img class="member-picture" src="#">
				<div class="member-info">
					<span class="name">John Doe</span>
					<span class="year">Computer Science, 2014</span>
					<span class="initiated">UPE, Spring 2014</span>
					<span class="email">john.doe@berkeley.edu</span>
					<ul class="social">
						<li><a href="#"><i class="fa fa-linkedin"></i></a></li>
						<li><a href="#"><i class="fa fa-github"></i></a></li>
						<li><a href="#"><i class="fa fa-envelope"></i></a></li>
						<li><a href="#"><i class="fa fa-globe"></i></a></li>
					</ul>
				</div>
			</div>

			<div class="member grow">
				<img class="member-picture" src="#">
				<div class="member-info">
					<span class="name">John Doe</span>
					<span class="year">Computer Science, 2014</span>
					<span class="initiated">UPE, Spring 2014</span>
					<span class="email">john.doe@berkeley.edu</span>
					<ul class="social">
						<li><a href="#"><i class="fa fa-linkedin"></i></a></li>
						<li><a href="#"><i class="fa fa-github"></i></a></li>
						<li><a href="#"><i class="fa fa-envelope"></i></a></li>
						<li><a href="#"><i class="fa fa-globe"></i></a></li>
					</ul>
				</div>
			</div>

			<div class="member grow">
				<img class="member-picture" src="#">
				<div class="member-info">
					<span class="name">John Doe</span>
					<span class="year">Computer Science, 2014</span>
					<span class="initiated">UPE, Spring 2014</span>
					<span class="email">john.doe@berkeley.edu</span>
					<ul class="social">
						<li><a href="#"><i class="fa fa-linkedin"></i></a></li>
						<li><a href="#"><i class="fa fa-github"></i></a></li>
						<li><a href="#"><i class="fa fa-envelope"></i></a></li>
					</ul>
				</div>
			</div>

			
		</div>
	</div>
</div>
{% endblock %}
