{% extends "website/header_footer.html" %}
{% load staticfiles %}
{% block stylesheets %}
	<link rel="stylesheet" href="{% static "website/css/full_style.css" %}" type="text/css" media="screen" />
	<link rel="stylesheet" href="{% static "website/css/main_style.css" %}" type="text/css" media="screen" />
    <link rel="stylesheet" href="{% static "website/css/header_style.css" %}" type="text/css" media="screen" />
    <link rel="stylesheet" href="{% static "website/css/footer_style.css" %}" type="text/css" media="screen" />
    <link href="http://netdna.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css" rel="stylesheet">
    <link rel="stylesheet" href="{% static "website/css/hover.css" %}" type="text/css" media="screen" />
	<link rel="stylesheet" href="{% static "users/css/officers_members.css" %}" type="text/css" media="screen" />
	<link href="http://netdna.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css" rel="stylesheet">
	<link href='http://fonts.googleapis.com/css?family=Arimo:400,700' rel='stylesheet' type='text/css'>
{% endblock %}
{% block content %}
<div class="content-container">
	<div class="content-sidebar">
		<h1> Members </h1>
		<ul id="archive">
			<li><a href="#">2014 - 2015</a></li>
			<!-- <li><a href="#">2013 - 2014</a></li> -->
			<!-- <li><a href="#">2012 - 2013</a></li> -->
		</ul>
	</div>
	<div id="member-container">
		<div id="members">
			<div class="member grow">
				<img class="member-picture" src="#">
				<div class="member-info">
					<span class="name">John Doe</span>
					<span class="year">Computer Science, 2014</span>
					<span class="initiated">UPE, Spring 2014</span>
					<span class="email">john.doe@berkeley.edu</span>
					<ul class="social">
						<li><a href="#"><i class="fa fa-linkedin"></i></a></li>
						<li><a href="#"><i class="fa fa-github"></i></a></li>
						<li><a href="#"><i class="fa fa-envelope"></i></a></li>
						<li><a href="#"><i class="fa fa-globe"></i></a></li>
					</ul>
				</div>
			</div>

			<div class="member grow">
				<img class="member-picture" src="#">
				<div class="member-info">
					<span class="name">John Doe</span>
					<span class="year">Computer Science, 2014</span>
					<span class="initiated">UPE, Spring 2014</span>
					<span class="email">john.doe@berkeley.edu</span>
					<ul class="social">
						<li><a href="#"><i class="fa fa-linkedin"></i></a></li>
						<li><a href="#"><i class="fa fa-github"></i></a></li>
						<li><a href="#"><i class="fa fa-envelope"></i></a></li>
						<li><a href="#"><i class="fa fa-globe"></i></a></li>
					</ul>
				</div>
			</div>

			<div class="member grow">
				<img class="member-picture" src="#">
				<div class="member-info">
					<span class="name">John Doe</span>
					<span class="year">Computer Science, 2014</span>
					<span class="initiated">UPE, Spring 2014</span>
					<span class="email">john.doe@berkeley.edu</span>
					<ul class="social">
						<li><a href="#"><i class="fa fa-linkedin"></i></a></li>
						<li><a href="#"><i class="fa fa-github"></i></a></li>
						<li><a href="#"><i class="fa fa-envelope"></i></a></li>
						<li><a href="#"><i class="fa fa-globe"></i></a></li>
					</ul>
				</div>
			</div>

			<div class="member grow">
				<img class="member-picture" src="#">
				<div class="member-info">
					<span class="name">John Doe</span>
					<span class="year">Computer Science, 2014</span>
					<span class="initiated">UPE, Spring 2014</span>
					<span class="email">john.doe@berkeley.edu</span>
					<ul class="social">
						<li><a href="#"><i class="fa fa-linkedin"></i></a></li>
						<li><a href="#"><i class="fa fa-github"></i></a></li>
						<li><a href="#"><i class="fa fa-envelope"></i></a></li>
						<li><a href="#"><i class="fa fa-globe"></i></a></li>
					</ul>
				</div>
			</div>

			<div class="member grow">
				<img class="member-picture" src="#">
				<div class="member-info">
					<span class="name">John Doe</span>
					<span class="year">Computer Science, 2014</span>
					<span class="initiated">UPE, Spring 2014</span>
					<span class="email">john.doe@berkeley.edu</span>
					<ul class="social">
						<li><a href="#"><i class="fa fa-linkedin"></i></a></li>
						<li><a href="#"><i class="fa fa-github"></i></a></li>
						<li><a href="#"><i class="fa fa-envelope"></i></a></li>
						<li><a href="#"><i class="fa fa-globe"></i></a></li>
					</ul>
				</div>
			</div>

			<div class="member grow">
				<img class="member-picture" src="#">
				<div class="member-info">
					<span class="name">John Doe</span>
					<span class="year">Computer Science, 2014</span>
					<span class="initiated">UPE, Spring 2014</span>
					<span class="email">john.doe@berkeley.edu</span>
					<ul class="social">
						<li><a href="#"><i class="fa fa-linkedin"></i></a></li>
						<li><a href="#"><i class="fa fa-github"></i></a></li>
						<li><a href="#"><i class="fa fa-envelope"></i></a></li>
						<li><a href="#"><i class="fa fa-globe"></i></a></li>
					</ul>
				</div>
			</div>

			<div class="member grow">
				<img class="member-picture" src="#">
				<div class="member-info">
					<span class="name">John Doe</span>
					<span class="year">Computer Science, 2014</span>
					<span class="initiated">UPE, Spring 2014</span>
					<span class="email">john.doe@berkeley.edu</span>
					<ul class="social">
						<li><a href="#"><i class="fa fa-linkedin"></i></a></li>
						<li><a href="#"><i class="fa fa-github"></i></a></li>
						<li><a href="#"><i class="fa fa-envelope"></i></a></li>
						<li><a href="#"><i class="fa fa-globe"></i></a></li>
					</ul>
				</div>
			</div>

			<div class="member grow">
				<img class="member-picture" src="#">
				<div class="member-info">
					<span class="name">John Doe</span>
					<span class="year">Computer Science, 2014</span>
					<span class="initiated">UPE, Spring 2014</span>
					<span class="email">john.doe@berkeley.edu</span>
					<ul class="social">
						<li><a href="#"><i class="fa fa-linkedin"></i></a></li>
						<li><a href="#"><i class="fa fa-github"></i></a></li>
						<li><a href="#"><i class="fa fa-envelope"></i></a></li>
					</ul>
				</div>
			</div>

			
		</div>
	</div>
</div>
{% endblock %}