{% extends "website/header_footer.html" %}
{% load staticfiles %}
{% block javascript %}
<!-- Set pre-existing filters for <select>s for graduation year and member since. Pre-existing filter for name's <input> is done directly in the HTML -->
	<script>
		var Spring = "Spring";
		var Fall = "Fall";
		$(function() {
			{% if grad_yr_filter %}
			var gradyear_options = $("[name=gradyear]").children("option");
			for (var i = 0; i < gradyear_options.length; i++) {
				var gradyr_option = $(gradyear_options[i]);
				if (gradyr_option.text() == {{ grad_yr_filter }}) {
					gradyr_option.attr("selected", "selected");
					break;
				}
			}
			{% endif %}
			{% if member_since_filter_sem %}
				var membersince_options = $("[name=membersince]").children("option");
				for (var j = 0; j < membersince_options.length; j++) {
					var membersince_option = $(membersince_options[j]);
					if (membersince_option.text() == {{ member_since_filter_sem }} + " " + {{ member_since_filter_year}}) {
						membersince_option.attr("selected", "selected");
						break;
					}
				}
			{% endif %}
		});
	</script>
{% endblock %}
{% block content %}
<div class="content-container">
	<div class="content-sidebar">
		<h1>{{ title }}</h1>
		<form action="{% url 'members_filter' %}" method="post">
			{% csrf_token %}
			<p><span>Filter By</span>: 
				<span>
				Name <input type="text" name="membername" placeholder="Search by name" value="{{ name_filter }}">
				</span>
				<span>
				Graduation Year <select class="filter" name="gradyear">
					<option></option>
					<option>2015</option>
					<option>2016</option>
					<option>2017</option>
					<option>2018</option>
				</select>
				<span>
				Member Since <select class="filter" name="membersince">
					<option></option>
					<option>Fall 2012</option>
					<option>Spring 2012</option>
					<option>Fall 2013</option>
					<option>Spring 2013</option>
					<option>Fall 2014</option>
					<option>Spring 2014</option>
					<option>Fall 2015</option>
				</select>
				</span>
				<span>
					<button id="filter" type="submit">Filter</button>
					<a href="{% url 'users.views.members' %}"><button type="button">Clear Filters</button></a>
				</span>
			</p>
		</form>
	</div>
	<div id="officer-member-container">
		<div id="officer-members">
			{% if none_found %}
			<!-- Error message shown if no members matched filter request -->
				<p>Sorry, no members matched your search. <a href="{% url 'users.views.members' %}">Clear filters?</a></p>
			{% endif %}
			{% for user in users %}
				<div class="officer-member grow">
					{% if user.picture %}
						<img class="officer-member-picture" src="/media/{{user.picture}}">
					{% else %}
						{% if not user.picture %}
						<img class="officer-member-picture" src="/media/profile_images/spock.jpg">
						{% endif %}
					{% endif %}
					<div class="officer-member-info">
						<span class="name">{{ user }}</span>
						<span class="year">Computer Science, {{ user.get_grad_year_display }}</span>
                        <span class="joined">Member since {{ user.get_year_joined_display }}</span>
						{% if logged_in %}
							<span class="email">{{ user.user.email }}</span>
						{% endif %}
						<ul class="social">
							{% if user.linkedin %}
								<li><a href="{{ user.linkedin }}"><i class="fa fa-linkedin"></i></a></li>
							{% endif %}
							{% if user.github %}
								<li><a href="http://github.com/{{ user.github }}"><i class="fa fa-github"></i></a></li>
							{% endif %}
							{% if user.user.email and logged_in %} 
								<li><a href="mailto:{{ user.user.email }}"><i class="fa fa-envelope"></i></a></li>
							{% endif %}
							{% if user.personal_website %}
								<li><a href="http://{{ user.personal_website }}"><i class="fa fa-globe"></i></a></li>
							{% endif %}
						</ul>
					</div>
				</div>
			{% endfor %}
		</div>
	</div>
</div>
{% endblock %}
