{% extends "website/header_footer.html" %}
{% load staticfiles %}
{% block stylesheets %}
	<link rel="stylesheet" href="{% static "website/css/reset.css" %}" type="text/css" media="screen" />
	<link rel="stylesheet" href="{% static "website/css/full_style.css" %}" type="text/css" media="screen" />
	<link rel="stylesheet" href="{% static "website/css/main_style.css" %}" type="text/css" media="screen" />
    <link rel="stylesheet" href="{% static "website/css/header_style.css" %}" type="text/css" media="screen" />
    <link rel="stylesheet" href="{% static "website/css/footer_style.css" %}" type="text/css" media="screen" />
    <link rel="stylesheet" href="http://netdna.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="{% static "website/css/hover.css" %}" type="text/css" media="screen" />
	<link rel="stylesheet" href="{% static "users/css/officers_members.css" %}" type="text/css" media="screen" />
	<link rel="stylesheet" href="http://netdna.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css">
	<link rel='stylesheet' href='http://fonts.googleapis.com/css?family=Arimo:400,700' type='text/css'>
	<link rel="stylesheet" href="{% static "website/css/bootstrap.modals.css" %}" type="text/css" media="screen"/> 
{% endblock %}
{% block javascript %}
	<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.2.0/jquery.min.js"></script>
	<script src="{% static "website/js/bootstrap.modals.js" %}"></script> 
{% endblock %}
{% block content %}
<div class="content-container">
	<div class="officer-sidebar">
		<h1>{{ title }}</h1>
		<ul id="archive">
            <li>{{ current_semester }}</li>
            {% for position in positions %}
                <li><a href="#{{position.email_name}}">{{position.full_name}}</a></li>
            {% endfor %}
		</ul>
	</div>
	<div id="officer-member-container">
		<div id="officer-members">
	{% for position in positions %}
            <h2 class="position-container">
                <span class="position-label" id="{{position.email_name}}">{{position.full_name}} 
                    <span class="position-email">
                        (<a href="mailto:{{position.email}}">{{position.email}}</a>)
                    </span>
                </span>
            </h2>
		{% for user in position.users %}
				<a href="#">
            	<div class='officer-position grow' data-toggle="modal" data-target="#{{ user.user }}">
                    <div class="officer-member">
                        {% if user.picture %}
                            <img class="officer-member-picture" src="/media/{{user.picture}}">
                        {% else %}
                            {% if not user.picture %}
                            <img class="officer-member-picture" src="/media/profile_images/spock.jpg">
                            {% endif %}
                        {% endif %}

                        <div class="officer-member-info">
                            <span class="name">{{ user }}</span>
                            <span class="year">Computer Science, {{ user.get_grad_year_display }}</span>
                            <span class="joined">Member since {{ user.get_year_joined_display }}</span>
                            {% if logged_in %}
                                <span class="email">{{ user.user.email }}</span>
                            {% endif %}
                            <ul class="social">
                                {% if user.linkedin %}
                                    <li><a href="http://linkedin.com/in/{{ user.linkedin }}"><i class="fa fa-linkedin"></i></a></li>
                                {% endif %}
                                {% if user.github %}
                                    <li><a href="http://github.com/{{ user.github }}"><i class="fa fa-github"></i></a></li>
                                {% endif %}
                                {% if user.user.email and logged_in %} 
                                    <li><a href="mailto:{{ user.user.email }}"><i class="fa fa-envelope"></i></a></li>
                                {% endif %}
                                {% if user.personal_website %}
                                    <li><a href="http://{{ user.personal_website }}"><i class="fa fa-globe"></i></a></li>
                                {% endif %}
                            </ul>
                        </div>
                    </div>
				</div>
				</a>
        {% endfor %}
       {% endfor %}
       </div>
       </div>
       </div>
       {% for position in positions %}
       		{% for user in position.users %}
       			<div id="{{ user.user }}" class="modal fade" role="dialog">
				  	<div class="modal-dialog">
				   		<div class="modal-content">
				    		<div class="modal-header">
				      			<button type="button" class="close" data-dismiss="modal">&times;</button>
				      			<h4 class="modal-title">{{ user }}</h4>
				    		</div>
				  			<div class="modal-body">
				    			<p>{{user.officer_profile.bio}}</p>
				  			</div>
				 		</div>
					</div>
				</div>
			{% endfor %}
		{% endfor %}
{% endblock %}
