{% extends "website/header_footer.html" %}
{% load staticfiles %}
{% block stylesheets %}

<link href="{% static 'website/css/bootstrap.min.css' %}" rel="stylesheet">
<link href="{% static 'website/css/bootstrap-editable.css' %}" rel="stylesheet">
<link rel="stylesheet" href="{% static "website/css/reset.css" %}" type="text/css" media="screen" />
<link rel="stylesheet" href="{% static "website/css/full_style.css" %}" type="text/css" media="screen" />
<link rel="stylesheet" href="{% static "website/css/main_style.css" %}" type="text/css" media="screen" />
<link rel="stylesheet" href="{% static "website/css/header_style.css" %}" type="text/css" media="screen" />
<link rel="stylesheet" href="{% static "website/css/footer_style.css" %}" type="text/css" media="screen" />
<link href="http://netdna.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css" rel="stylesheet">
<link rel="stylesheet" href="{% static "website/css/hover.css" %}" type="text/css" media="screen" />
<link rel="stylesheet" href="{% static "users/css/officers_members.css" %}" type="text/css" media="screen" />
<link rel="stylesheet" href="{% static "users/css/profile.css" %}" type="text/css" media="screen" />
<link href="http://netdna.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css" rel="stylesheet">
<link href='http://fonts.googleapis.com/css?family=Arimo:400,700' rel='stylesheet' type='text/css'>
{% endblock %}
{% block content %}
<div class="content-container">
    <div class="profile-pic-container">
        <img src="/media/{{ up.picture }}" class="circular profile-pic">
        <button class="change-profile-btn btn btn-primary btn-sm" data-toggle="modal" data-target="#myModal">
              Change Profile Picture
            </button>
        <span class="name">{{ user.first_name }} {{ user.last_name }}</span>
        <span class="user-type">{{ up.get_user_type_display }}</span>

        <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
              <div class="modal-dialog">
                <div class="modal-content">
                    <form action="{% url "myprofile" %}" method="post" enctype="multipart/form-data">
                        {% csrf_token %}
                        <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                            <h4 class="modal-title" id="myModalLabel">Change Profile Picture</h4>
                        </div>
                        <div class="modal-body">
                            {{ profile_pic }}
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                            <!-- <button type="button" class="btn btn-primary">Save changes</button> -->
                            <input type="submit" value="Upload" class="btn btn-primary" />
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <div class="personal-info-container">
        <span class="title">Personal <i class="fa fa-user"></i></span>
        <ul>
            <li>
                <label class="attribute"><i class="fa fa-envelope"></i> Email:</label>
                <a href="#"
                    id="email"
                    data-type="text"
                    data-pk="1"
                    data-url="/myprofile/"
                    data-title="Enter email">
                    {{ user.email }}
                </a>
            </li>
            <li>
                <label class="attribute"><i class="fa fa-globe"></i> Website:</label>
                <a href="#"
                    id="personal_website"
                    data-type="text"
                    data-pk="1"
                    data-url="/myprofile/"
                    data-title="Enter linkedin">
                    {{ up.personal_website }}
                </a>
            </li>
            {% if up.resume %}
            <li>
                <label class="attribute"><i class="fa fa-file"></i> Resume:</label>
                <span class="resume"
                      data-toggle="modal"
                      data-target="#resume-modal">
                      {{ user.first_name }}'s Resume
                </span>
                <a class="view-resume" target="blank" href="/media/{{ up.resume }}">View</a>
            </li>
            {% else %}
            <li>
                <label class="attribute">Resume: <span data-toggle="modal" data-target="#resume-modal">none</span></label>
            {% endif %}
                <!-- <button class="btn btn-primary btn-sm" data-toggle="modal" data-target="#resume-modal">
                  Upload New Resume
                </button> -->
            </li>
        </ul>
    </div>
    <div class="academic-info-container">
        <span class="title">Academic <i class="fa fa-bank"></i></span>
        <ul>
            <li>
                <label class="attribute"><i class="fa fa-graduation-cap"></i> Graduation Year:</label>
                <a href="#" id="grad_year">{{ up.get_grad_year_display }}</a>
            </li>
            <li>
                <label class="attribute"><i class="fa fa-group"></i> Joined UPE:</label>
                <a href="#" id="year_joined">{{ up.get_year_joined_display }}</a>
            </li>
        </ul>

        <div class="modal fade" id="resume-modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog">
          <div class="modal-content">
            <form action="{% url "myprofile" %}" method="post" enctype="multipart/form-data">
              {% csrf_token %}
              <div class="modal-header">
                  <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                  <h4 class="modal-title" id="myModalLabel">Upload a new resume</h4>
              </div>
              <div class="modal-body">
                  {{ resume_upload }}
              </div>
              <div class="modal-footer">
                  <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                  <!-- <button type="button" class="btn btn-primary">Save changes</button> -->
                  <input type="submit" value="Upload" class="btn btn-primary" />
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
</div>
{% endblock %}




{% block javascript %}
<script src="{% static "website/js/jquery-2.1.1.min.js" %}"></script>
<script src="{% static "website/js/bootstrap.min.js" %}"></script>
<script src="{% static 'website/js/bootstrap-editable.js' %}"></script>
<script>
function getCookie(name) {
    var cookieValue = null;
    if (document.cookie && document.cookie != '') {
        var cookies = document.cookie.split(';');
        for (var i = 0; i < cookies.length; i++) {
            var cookie = jQuery.trim(cookies[i]);
            // Does this cookie string begin with the name we want?
            if (cookie.substring(0, name.length + 1) == (name + '=')) {
                cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                break;
            }
        }
    }
    return cookieValue;
}
var csrftoken = getCookie('csrftoken');
function csrfSafeMethod(method) {
    // these HTTP methods do not require CSRF protection
    return (/^(GET|HEAD|OPTIONS|TRACE)$/.test(method));
}
$.ajaxSetup({
    beforeSend: function(xhr, settings) {
        if (!csrfSafeMethod(settings.type) && !this.crossDomain) {
            xhr.setRequestHeader("X-CSRFToken", csrftoken);
        }
    }
});


var GRAD_YEARS = [
{value: '10', text: '2010'},
{value: '11', text: '2011'},
{value: '12', text: '2012'},
{value: '13', text: '2013'},
{value: '14', text: '2014'},
{value: '15', text: '2015'},
{value: '16', text: '2016'},
{value: '17', text: '2017'},
{value: '18', text: '2018'}];

var YEAR_JOINED = [
{value: 'F10', text: 'Fall 2010'},
{value: 'F11', text: 'Fall 2011'},
{value: 'F12', text: 'Fall 2012'},
{value: 'F13', text: 'Fall 2013'},
{value: 'F14', text: 'Fall 2014'},
{value: 'S10', text: 'Spring 2010'},
{value: 'S11', text: 'Spring 2011'},
{value: 'S12', text: 'Spring 2012'},
{value: 'S13', text: 'Spring 2013'},
{value: 'S14', text: 'Spring 2014'}];

$.fn.editable.defaults.mode = 'inline';
$(document).ready(function() {
    $('#email').editable();
    $('#github').editable();
    $('#linkedin').editable();
    $('#personal_website').editable();
    $('#name').editable({
        validate: function(value) {
            var myRe = /([a-zA-Z]+\s+[a-zA-Z]+)/;
            var validate = myRe.exec($.trim(value));
            console.log(validate);
            if(!validate) return 'Input must match: First_Name Last_Name';
        }
    });
    $('#grad_year').editable({
        type: 'select',
        pk: 1,
        source: GRAD_YEARS,
        url: '/myprofile/',
        title: 'Choose Grad Year',
    });
    $('#year_joined').editable({
        type: 'select',
        pk: 1,
        source: YEAR_JOINED,
        url: '/myprofile/',
        title: 'Choose Year Joined',
    });
});

$(function() {
    $('input[type=submit]').attr('class', $('input').attr('class') + ' btn btn-primary');
})
</script>
{% endblock %}

