{% extends "website/header_footer.html" %}
{% load staticfiles %}
{% block stylesheets %}
<link rel="stylesheet" href="{% static "website/css/full_style.css" %}" type="text/css" media="screen" />
<link rel="stylesheet" href="{% static "website/css/main_style.css" %}" type="text/css" media="screen" />
<link rel="stylesheet" href="{% static "website/css/header_style.css" %}" type="text/css" media="screen" />
<link rel="stylesheet" href="{% static "website/css/footer_style.css" %}" type="text/css" media="screen" />
<link href="http://netdna.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css" rel="stylesheet">
<link rel="stylesheet" href="{% static "website/css/hover.css" %}" type="text/css" media="screen" />
<link rel="stylesheet" href="{% static "users/css/officers_members.css" %}" type="text/css" media="screen" />
<link href="http://netdna.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css" rel="stylesheet">
<link href='http://fonts.googleapis.com/css?family=Arimo:400,700' rel='stylesheet' type='text/css'>
{% endblock %}
{% block content %}
<div class="content-container">

    {% if registered %}
    <strong>Thanks for registering!</strong>
    <a href="/">Return to the homepage.</a><br />
    {% else %}
    <strong>REGISTER</strong><br />

    <form id="user_form" method="post" action="/register/"
        enctype="multipart/form-data">
        {% csrf_token %}
        <!-- Display each form. The as_p method wraps each element in a paragraph
        (<p>) element. This ensures each element appears on a new line,
        making everything look neater. -->
        {{ user_form.as_p }}
        {{ profile_form.as_p }}
        <!-- Provide a button to click to submit the form. -->
        <input type="submit" name="submit" value="Register" />
    </form>
    {% endif %}
    <p>
    <a href="/login">Login</a>
    </p>
</div>
{% endblock %}
