{% extends "website/header_footer.html" %}
{% load staticfiles %}
{% block stylesheets %}

<link href="{% static 'website/css/bootstrap.min.css' %}" rel="stylesheet">
<link href="{% static 'website/css/bootstrap-editable.css' %}" rel="stylesheet">
<link rel="stylesheet" href="{% static "website/css/reset.css" %}" type="text/css" media="screen" />
<link rel="stylesheet" href="{% static "website/css/full_style.css" %}" type="text/css" media="screen" />
<link rel="stylesheet" href="{% static "website/css/main_style.css" %}" type="text/css" media="screen" />
<link rel="stylesheet" href="{% static "website/css/header_style.css" %}" type="text/css" media="screen" />
<link rel="stylesheet" href="{% static "website/css/footer_style.css" %}" type="text/css" media="screen" />
<link href="http://netdna.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css" rel="stylesheet">
<link rel="stylesheet" href="{% static "website/css/hover.css" %}" type="text/css" media="screen" />
<link rel="stylesheet" href="{% static "users/css/officers_members.css" %}" type="text/css" media="screen" />
<link rel="stylesheet" href="{% static "users/css/profile.css" %}" type="text/css" media="screen" />
<link href="http://netdna.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css" rel="stylesheet">
<link href='http://fonts.googleapis.com/css?family=Arimo:400,700' rel='stylesheet' type='text/css'>

<style type="text/css">
  body {
    color: #2C2C46;
  }
  .col-sm-4 {
    padding: 1em
  }
  .heading {
    font-family: Helvetica;
    text-transform: uppercase;
  }
  select, [type=text] {
    width: 100%
  }
  .form-group {
    text-transform: capitalize; 
  }
</style>
{% endblock %}
{% block content %}
<div class="container">
  <h1 class="heading">Requirements</h1>
  <div class="row">
    <div class="col-sm-4">
      <h1>Submit completions</h1>
      <form action="/requirements/" method="post">
        {% csrf_token %}
        {% for field in form %}
        <div class="form-group">
          {{ field.label }}:
          {{ field }}
        </div>
        {% endfor %}
        <input type="submit" name="sigh" value="Submit" />
      </form>
    </div>
    <div class="col-sm-4">
      <h1>Finished Candidates</h1>
      {% if finished|length != 0 %}
        <form action="/requirements/" method="post">
        {% csrf_token %}
          <div class="form-group">
          {% for c in finished %}
            <input type="checkbox" name="convert" value="{{ c.id }}">
            <a href="/requirements/{{ c.id }}"> {{ c }}</a><br>
          {% endfor %}
          </div>
          <div class="form-group">
          <input type="submit" onclick="return window.confirm('r u sure bout dat');" value="Convert to Member">
          </div>
        </form>
      {% else %}
        <p>None</p>
      {% endif %}
    </div>
    <div class="col-sm-4">
      <h1>All Candidates</h1>
      {% for c in candidates %}
        <a href="/requirements/{{ c.id }}">{{ c }}</a><br>
      {% endfor %}
    </div>
  </div>
</div>
{% endblock %}

{% block javascript %}
<script src="{% static "website/js/jquery-2.1.1.min.js" %}"></script>
<script src="{% static "website/js/bootstrap.min.js" %}"></script>
<script src="{% static 'website/js/bootstrap-editable.js' %}"></script>
{% endblock %}