{% extends "interview/header_footer.html" %}
{% block content %}


<!-- MAIN -->
<div id="main-wrapper">
  <div id="main-inner-wrapper">
    <div id="content-wrapper">
      <div id="events-title">Mock Interview Questions</div>

<p>
	This page contains selected interview questions for UPE members or candidates to practice. We hope to do our best to prepare you for technical interviews. Now...take out a piece of paper and let get to the questions.
</p>
<div id="qnalist">
	<p>Question 1: Implement an algorithm to determine if a string has all unique characters. What if you cannot use additional data structures?</p>
<ul>

<li>


Answer:

You may want to start off with asking your interviewer if the string is an ASCII string or
a Unicode string. This is an important question, and asking it will show an eye for detail
and a deep understanding of Computer Science.
We'll assume for simplicity that the character set is ASCII. If not, we would need to
increase the storage size, but the rest of the logic would be the same.
Given this, one simple optimization we can make to this problem is to automatically
return false if the length of the string is greater than the number of unique characters
in the alphabet. After all, you can't have a string with 280 unique characters if there are
only 256 possible unique characters.
Our first solution is to create an array of boolean values, where the flag at index i indicates
whether character i in the alphabet is contained in the string. If you run across this
character a second time, you can immediately return false.
The code below implements this algorithm.

Sample Code:
1 public boolean isUniqueChars2(String str) {
2 if (str.lengthQ > 256) return false;
3
4 boolean[] char_set = new boolean[256];
for (int 1 = 0; i < str. lengthQ; i++) {
6 int val = str.charAt(i);
if (char_set[val]) { // Already found this char in string
8 return false;
9 }
ivi char_set[val] = true;
11 }
12 return true;
13 }

The time complexity for this code is 0(n), where n is the length of the string. The space
complexity is 0(1).
</li>

	</ul>
</div>
        </div>
      </div>
    </div>
{% endblock %}