{% extends "interview/header_footer.html" %}
{% block content %}


<!-- MAIN -->
<div id="main-wrapper">
  <div id="main-inner-wrapper">
    <div id="content-wrapper">
      <div id="events-title">Mock Interview Questions</div>

<p>
	This page contains selected interview questions for UPE members or candidates to practice. We hope to do our best to prepare you for technical interviews. Now...take out a piece of paper and let get to the questions.
</p>

<div id="qnalist">
	{% for question in questions %}
	<p> {{ question.question_text }} </p>
</div>
        </div>
      </div>
    </div>
{% endblock %}