.content-container {
  display: -webkit-flex;
}

.profile-pic-container {
  -webkit-flex: 0 0 300px;
  text-align: center;
}

.profile-pic-container .profile-pic {
  display: block;
  margin: 0 auto 20px auto;
}

.change-profile-btn {
  display: block;
  margin: 0 auto;
}

.name {
  display: block;
  margin: 10px 0 10px 0;
  font-size: 25px;
  font-weight: 800;
}

.user-type {
  display: block;
  margin: 10px 0 10px 0;
  font-size: 20px;
  font-style: italic;
}

.personal-info-container {
  -webkit-flex: 0 0 350px;
}

.personal-info-container ul {
  margin-top: 20px;
  font-size: 16px;
}

.personal-info-container ul li {
  margin: 10px 0 15px 0;
}


.academic-info-container ul {
  margin-top: 20px;
  font-size: 16px;
}

.academic-info-container ul li {
  margin: 10px 0 15px 0;
}

.title {
  font-weight: 800;
  font-weight: 800;
  font-size: 20px;
}

.resume {
  border-bottom: dashed 1px #0088cc;
  cursor: pointer;
  color: #0088cc;
}

.view-resume {
  color: black;
  font-weight: 600;
}

.title .fa {
  font-size: 30px;
  position: relative;
  top: 3px;
  left: 10px;
}

.academic-info-container {
  -webkit-flex: 0 0 300px;
}


.circular {
  width: 200px;
  height: 200px;
  border-radius: 150px;
  -webkit-border-radius: 150px;
  -moz-border-radius: 150px;
  border: 5px solid #444;
}

#resume-modal {
  text-align: center;
}
