#user-form {
	width: 433px;
	margin: 20px auto;
}

label {
	display: block;
}

.register {
	font-size: 28px;
	font-weight: 700;
	display: block;
	text-align: center;
}

.form-field {
	margin-top: 10px;
}

input {
	width: 200px;
	height: 20px;
	border-radius: 4px;
}

p {
	margin: 15px 0;
}

label {
	display: block;
}

.form-field.first_name {
	display: inline-block;
}

.form-field.last_name {
	display: inline-block;
}

#id_user_type {
	width: 120px;
}

input[type="submit"] {
	padding: 6px 12px;
	font-size: 14px;
	font-weight: 400;
	line-height: 1.42857143;
	text-align: center;
	white-space: nowrap;
	vertical-align: middle;
	cursor: pointer;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
	background-image: none;
	border: 1px solid transparent;
	border-radius: 4px;
	color: #fff;
	background-color: #428bca;
	border-color: #357ebd;
	height: 35px;
	width: 214px;
	margin: 25px auto;
	display: block;
}

input {
	margin: 5px 0;
	display: block;
	height: 20px;
	padding: 6px 6px;
	font-size: 14px;
	line-height: 1.42857143;
	color: #555;
	background-color: #fff;
	background-image: none;
	border: 1px solid #ccc;
	border-radius: 4px;
	-webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
	box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
	-webkit-transition: border-color ease-in-out .15s,-webkit-box-shadow ease-in-out .15s;
	-o-transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
	transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
}
