{% extends "website/header_footer.html" %}
{% load staticfiles %}
{% load filters %}
{% block javascript %}
  <script src="{% static "website/js/jquery_1.11.0.min.js" %}"></script>
  <script src="{% static "upe_calendar/js/date.js" %}"></script>
  <script src="{% static "upe_calendar/js/handlebars.js" %}"></script>
  <script src="{% static "upe_calendar/js/handlebars_helpers.js" %}"></script>
  <script src="{% static "upe_calendar/js/calendar.js" %}"></script>
{% endblock %}
{% block content %}
{% verbatim %}
<script id="calendar-temp" type="text/x-handlebars-template">

</script>

<script id="day-temp" type="text/x-handlebars-template">
  <td class="calendar-day">
    {{#if currDate}}
    <div id="curr-date" class="date">{{ date }}</div>
    {{else}}
    <div class="date">{{ date }}</div>
    {{/if}}
    <ul id="events">
      {{#if name}}
      <li class="event-info">{{ name }}</li>
      {{/if}}
    </ul>
  </td>
</script>

<script id="next-month-temp" type="text/x-handlebars-template">
  <td class="calendar-day next-month">
    <div class="date"></div>
    <ul id="events">
    </ul>
  </td>
</script>
{% endverbatim %}

<div id="calendar-wrapper">
  <div id="calendar-title">{{ month }} {{ year }} </div>
  <table id="days-wrapper">
    <tr id="days">
      <td class="day-row">Sunday</td>
      <td class="day-row">Monday</td>
      <td class="day-row">Tuesday</td>
      <td class="day-row">Wednesday</td>
      <td class="day-row">Thursday</td>
      <td class="day-row">Friday</td>
      <td class="day-row">Saturday</td>
    </tr>
  </table>
  <table id="week1-wrapper">
    <tr id="week1">
    </tr>
  </table>

  <table id="week2-wrapper">
    <tr id="week2">
    </tr>
  </table>

  <table id="week3-wrapper">
    <tr id="week3">
    </tr>
  </table>

  <table id="week4-wrapper">
    <tr id="week4">
    </tr>
  </table>

  <table id="week5-wrapper">
    <tr id="week5">
    </tr>
  </table>

  <table id="week6-wrapper">
      <tr id="week6">
      </tr>
  </table>
</div>
{% endblock %}
